Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

refactor(auth): remove deprecated RBAC module and relocate isSecretValid
  apps/orchestrator/src/types.ts
  apps/orchestrator/tests/orchestrator.gateway.test.ts
  apps/orchestrator/tests/orchestrator.test.ts
  apps/orchestrator/tests/orchestrator.topology.test.ts
  apps/orchestrator/tests/peering.orchestrator.topology.test.ts
  apps/orchestrator/tests/transit.orchestrator.topology.test.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

feat(auth): add JWT-based OTel collector authentication with Cedar policy
  apps/auth/src/index.ts
  apps/auth/src/server.ts
  apps/auth/tests/telemetry-token.test.ts
  apps/gateway/src/index.ts
  apps/orchestrator/src/server.ts
  apps/orchestrator/src/service.ts
  packages/authorization/src/jwt/jwt-token-factory.ts
  packages/authorization/src/key-manager/persistent.ts
  packages/authorization/src/policy/src/definitions/index.ts
  packages/authorization/src/policy/src/definitions/models.ts
  packages/authorization/src/policy/src/definitions/schema.cedar
  packages/authorization/src/policy/src/definitions/telemetry-exporter.cedar
  packages/authorization/src/service/service.ts
  packages/authorization/tests/key-manager/issuer.test.ts
  packages/authorization/tests/policy/telemetry-authorization.test.ts
  packages/telemetry/package.json
  packages/telemetry/src/builder.ts
  packages/telemetry/src/index.ts
  packages/telemetry/src/instrumentation.ts
  packages/telemetry/src/logger.ts
  packages/telemetry/src/metrics.ts
  packages/telemetry/src/types.ts
Due: eslint --fix, prettier --write

chore: removing old passworkd and auth files
  bun.lock
Due: none

docs: add source-available license, CLA, and contribution guidelines
  CLA.md
  CONTRIBUTING.md
  LICENSE
  LICENSE_HUMAN_READABLE.md
Due: prettier --write

docs: rename project from Catalyst Node to Catalyst Router
  ARCHITECTURE.md
  BGP_PROTOCOL.md
  CLA.md
  CLI.md
  CONTRIBUTING.md
  CROSSWALK.md
  INTERNAL_PEERING.md
  LICENSE
  LICENSE_HUMAN_READABLE.md
  MILESTONE.md
  README.md
  SDK.md
  SECURITY.md
  apps/auth/README.md
  apps/cli/README.md
  constitution.md
  docker-compose/README.md
  docs/adr/0001-unified-opentelemetry-observability.md
  docs/adr/0002-logging-library-selection.md
  docs/adr/0003-observability-backends.md
  docs/adr/0004-sqlite-storage-backend.md
  docs/adr/0005-docker-as-container-runtime.md
  docs/adr/0006-node-orchestrator-architecture.md
  docs/adr/0007-certificate-bound-access-tokens.md
  docs/adr/README.md
  examples/README.md
  package.json
  packages/authorization/src/jwt/README.md
  packages/authorization/src/key-manager/README.md
  packages/authorization/src/policy/docs/CUSTOM_ENTITY_PROVIDERS.md
  packages/config/README.md
  packages/types/README.md
  prd/01/doc.md
  prd/01/progress.md
Due: prettier --write

docs: rewrite README, ARCHITECTURE, and add API design documentation
  API.md
  ARCHITECTURE.md
  README.md
Due: prettier --write

feat(adr-0011): cedar policy enforcement adr and permission matrix
  docs/adr/0008-permission-policy-schema.md
  docs/adr/0011-cedar-policy-authorization-schema.md
Due: prettier --write

test: this breaks down
  packages/authorization/tests/service/rpc-progressive.test.ts
Due: eslint --fix, prettier --write

docs: reorganize documentation into topic-based directory structure
  README.md
  constitution.md
  docs/README.md
  docs/adr/0006-node-orchestrator-architecture.md
  docs/api/api-design.md
  docs/api/cli.md
  docs/api/sdk.md
  docs/architecture/crosswalk.md
  docs/architecture/jwt-design.md
  docs/architecture/overview.md
  docs/architecture/tech-stack.md
  docs/planning/milestone.md
  docs/planning/rfi.md
  docs/prd/01/doc.md
  docs/prd/01/progress.md
  docs/protocols/bgp-protocol.md
  docs/protocols/internal-peering.md
Due: prettier --write

docs: audit and fix stale references across all documentation
  README.md
  SECURITY.md
  docs/api/cli.md
  docs/architecture/jwt-design.md
  docs/architecture/tech-stack.md
  docs/protocols/bgp-protocol.md
  docs/protocols/internal-peering.md
Due: prettier --write

feat(builds): add RPi image build system and config CLI
  apps/rpi-config/package.json
  apps/rpi-config/src/config-builder.ts
  apps/rpi-config/src/defaults.ts
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/instructions.ts
  apps/rpi-config/src/prompts.ts
  apps/rpi-config/src/types.ts
  apps/rpi-config/src/validator.ts
  apps/rpi-config/src/yaml-writer.ts
  apps/rpi-config/tsconfig.json
  builds/rpi/bin/.gitkeep
  builds/rpi/build.sh
  builds/rpi/config/base-docker.yaml
  builds/rpi/config/base-native.yaml
  builds/rpi/layer/catalyst-cloudflared.yaml
  builds/rpi/layer/catalyst-docker-stack.yaml
  builds/rpi/layer/catalyst-node.yaml
  builds/rpi/layer/catalyst-otel.yaml
  builds/rpi/layer/catalyst-wifi.yaml
  docs/builds/rpi.md
Due: eslint --fix, prettier --write

fix(auth): remove NODE from stream publish/subscribe and reject when auth unconfigured
  apps/orchestrator/Dockerfile
  apps/orchestrator/package.json
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/tests/orchestrator.test.ts
  packages/authorization/src/policy/src/definitions/index.ts
  packages/authorization/src/policy/src/definitions/models.ts
  packages/authorization/src/policy/src/definitions/schema.cedar
  packages/authorization/src/policy/src/definitions/stream-data-custodian.cedar
  packages/authorization/tests/cedar-stream-policies.test.ts
Due: eslint --fix, prettier --write

feat(progressive-api-policy): updated policy changes and new split authentication and authorization
  apps/auth/tests/container.test.ts
  apps/auth/tests/telemetry-token.test.ts
  apps/gateway/scripts/test-rpc.ts
  apps/gateway/src/rpc/server.ts
  apps/gateway/src/service.ts
  apps/gateway/tests/container.gateway.test.ts
  apps/gateway/tests/integration.rpc.test.ts
  apps/orchestrator/src/index.ts
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/src/server.ts
  apps/orchestrator/tests/mock-connection-pool.ts
  apps/orchestrator/tests/orchestrator.gateway.container.test.ts
  apps/orchestrator/tests/orchestrator.gateway.test.ts
  apps/orchestrator/tests/orchestrator.test.ts
  apps/orchestrator/tests/peering.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/transit.orchestrator.topology.container.test.ts
  bun.lock
  docs/adr/0011-cedar-policy-authorization-schema.md
  packages/authorization/src/policy/src/definitions/admin.cedar
  packages/authorization/src/policy/src/definitions/cedar.d.ts
  packages/authorization/src/policy/src/definitions/data-custodian.cedar
  packages/authorization/src/policy/src/definitions/index.ts
  packages/authorization/src/policy/src/definitions/models.ts
  packages/authorization/src/policy/src/definitions/node-custodian.cedar
  packages/authorization/src/policy/src/definitions/node.cedar
  packages/authorization/src/policy/src/definitions/schema.schemacedar
  packages/authorization/src/policy/src/definitions/user.cedar
  packages/authorization/src/service/rpc/schema.ts
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/src/service/service.ts
  packages/authorization/tests/policy/telemetry-authorization.test.ts
  packages/authorization/tests/service/rpc-progressive.test.ts
Due: eslint --fix, prettier --write

fix(cli updates): up to date the integrstions tests of CLI
  apps/cli/src/clients/orchestrator-client.ts
  apps/cli/src/handlers/node-peer-handlers.ts
  apps/cli/src/handlers/node-route-handlers.ts
  apps/cli/src/types.ts
  apps/cli/tests/auth-test-helpers.ts
  apps/cli/tests/auth/token.container.test.ts
  apps/cli/tests/node/peer.container.test.ts
  apps/cli/tests/node/route.container.test.ts
Due: eslint --fix, prettier --write

style(authorization): fix prettier indentation in key-manager
  packages/authorization/src/key-manager/index.ts
Due: eslint --fix, prettier --write

chore(husky): migrate hooks to bun and add unit test coverage but no fail on pre-commit
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: update .dockerignore
  .dockerignore
Due: none

feat(test): add test:unit and test:integration scripts across monorepo
  .husky/pre-commit
  apps/auth/package.json
  apps/cli/package.json
  apps/gateway/package.json
  apps/orchestrator/package.json
  apps/orchestrator/tests/orchestrator.container.test.ts
  examples/books-api/package.json
  package.json
  packages/authorization/package.json
  packages/service/package.json
  packages/telemetry/package.json
  packages/types/package.json
Due: eslint --fix, prettier --write

refactor(zod): migrate enum and schema patterns to Zod v4 idioms
  apps/cli/src/types.ts
  bun.lock
  packages/authorization/src/jwt/index.ts
  packages/authorization/tests/policy/integration/agnostic-usage.test.ts
  packages/routing/src/datachannel.ts
  packages/routing/src/internal/actions.ts
  packages/routing/src/state.ts
Due: eslint --fix, prettier --write

fix: enforce authEndpoint and domains on ENV for gateway
  apps/gateway/src/rpc/server.ts
  apps/gateway/src/service.ts
  apps/gateway/tests/auth-test-helpers.ts
  apps/gateway/tests/container.gateway.test.ts
  apps/gateway/tests/integration.rpc.test.ts
  apps/gateway/tests/mock-auth-provider.ts
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/tests/auth-test-helpers.ts
  apps/orchestrator/tests/mock-auth-provider.ts
  apps/orchestrator/tests/orchestrator.container.test.ts
  apps/orchestrator/tests/orchestrator.gateway.container.test.ts
  apps/orchestrator/tests/orchestrator.gateway.test.ts
  apps/orchestrator/tests/orchestrator.topology.test.ts
  apps/orchestrator/tests/peering.orchestrator.topology.test.ts
  apps/orchestrator/tests/transit.orchestrator.topology.test.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

docs(envoy): add envoy integration architecture
  ENVOY_INTEGRATION.md
Due: prettier --write

feat(config): add envoy configuration schema and port range support
  packages/config/src/index.ts
  packages/config/tests/envoy-config.test.ts
  packages/routing/src/datachannel.ts
  packages/routing/tests/datachannel.test.ts
Due: eslint --fix, prettier --write

feat(envoy): implement port allocator
  apps/envoy/package.json
  apps/envoy/src/port-allocator.ts
  apps/envoy/tests/port-allocator.test.ts
  apps/envoy/tsconfig.json
Due: eslint --fix, prettier --write

fix(envoy): validate re-hydrated ports are within configured range
  apps/envoy/src/port-allocator.ts
  apps/envoy/tests/port-allocator.test.ts
Due: eslint --fix, prettier --write

fix(config): move port range to orchestrator envoy config
  packages/config/src/index.ts
  packages/config/tests/envoy-config.test.ts
Due: eslint --fix, prettier --write

feat(envoy): scaffold envoy service with rpc server
  apps/envoy/package.json
  apps/envoy/src/index.ts
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/service.ts
  apps/envoy/tests/rpc.integration.test.ts
  apps/envoy/tests/service.test.ts
  apps/envoy/tsconfig.json
  bun.lock
Due: eslint --fix, prettier --write

fix(envoy): use RouteConfig schema with local/internal split
  apps/envoy/src/rpc/server.ts
  apps/envoy/tests/rpc.integration.test.ts
Due: eslint --fix, prettier --write

refactor(envoy): replace any types with XdsListener and XdsCluster interfaces
  apps/envoy/src/xds/resources.ts
  apps/envoy/src/xds/snapshot-cache.ts
  apps/envoy/tests/snapshot-cache.test.ts
Due: eslint --fix, prettier --write

feat(envoy): implement xds resource builders and snapshot cache
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/service.ts
  apps/envoy/src/xds/resources.ts
  apps/envoy/src/xds/snapshot-cache.ts
  apps/envoy/tests/resources.test.ts
  apps/envoy/tests/snapshot-cache.test.ts
Due: eslint --fix, prettier --write

fix(envoy): validate IPv4 octets are 0-255 in isIpAddress check
  apps/envoy/src/xds/resources.ts
  apps/envoy/tests/resources.test.ts
Due: eslint --fix, prettier --write

feat(orchestrator): add envoy configuration side effect
  apps/auth/Dockerfile
  apps/gateway/Dockerfile
  apps/orchestrator/Dockerfile
  apps/orchestrator/package.json
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/src/types.ts
  apps/orchestrator/tests/orchestrator.envoy.test.ts
  bun.lock
  examples/books-api/Dockerfile
  examples/movies-api/Dockerfile
  examples/orders-api/Dockerfile
  examples/product-api/Dockerfile
  package.json
Due: eslint --fix, prettier --write

refactor(cli): update handlers to use publicApi progressive pattern
  apps/cli/src/clients/orchestrator-client.ts
  apps/cli/src/commands/node/route.ts
  apps/cli/src/handlers/node-peer-handlers.ts
  apps/cli/src/handlers/node-route-handlers.ts
  apps/cli/tests/clients/orchestrator-client.unit.test.ts
  apps/cli/tests/node/peer.container.test.ts
  apps/cli/tests/node/route.container.test.ts
Due: eslint --fix, prettier --write

test(envoy): add end-to-end integration test with auth
  apps/envoy/package.json
  apps/envoy/tests/e2e.integration.test.ts
  bun.lock
Due: eslint --fix, prettier --write

test(envoy): add real Envoy proxy container test with traffic routing
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/xds/control-plane.ts
  apps/envoy/src/xds/resources.ts
  apps/envoy/tests/ads.integration.test.ts
  apps/envoy/tests/envoy-proxy.container.test.ts
  apps/envoy/tests/resources.test.ts
  apps/envoy/tests/traffic-routing.container.test.ts
  examples/books-api/Dockerfile
  packages/config/tests/envoy-config.test.ts
Due: eslint --fix, prettier --write

feat(envoy): implement ADS gRPC control plane with traffic routing test
  apps/envoy/envoy-bootstrap.yaml
  apps/envoy/package.json
  apps/envoy/src/service.ts
  apps/envoy/src/xds/control-plane.ts
  apps/envoy/src/xds/proto-encoding.ts
  apps/envoy/tests/ads.integration.test.ts
  apps/envoy/tests/traffic-routing.container.test.ts
  bun.lock
Due: eslint --fix, prettier --write

test(envoy): add container test for envoy service Dockerfile
  apps/envoy/tests/envoy-service.container.test.ts
Due: eslint --fix, prettier --write

fix(envoy): resolve UNAVAILABLE gRPC status as connected in container test
  apps/envoy/tests/envoy-service.container.test.ts
Due: eslint --fix, prettier --write

feat(envoy): add Dockerfile for envoy service
  apps/envoy/Dockerfile
Due: none

feat(docker): add envoy service and proxy to compose files
  docker-compose/docker.compose.yaml
  docker-compose/envoy-bootstrap.yaml
  docker-compose/example.m0p2.compose.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write
