Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

docs: remove future work section
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: add missing content to overview (Option A, catalogs, views, config, future work)
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

test: health propagation and RIB handler tests
  apps/orchestrator/tests/v2/adapter-health-propagation.test.ts
  packages/routing/tests/v2/rib-health-update.test.ts
Due: eslint --fix, prettier --write

fix: restore code lost during restack conflict resolution
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
  apps/orchestrator/tests/v2/adapter-health-propagation.test.ts
  packages/routing/src/v2/datachannel.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(web-ui): adapter health table with status badges
  apps/web-ui/frontend/src/components/AdaptersTab.tsx
  apps/web-ui/frontend/src/hooks/useRouterState.ts
Due: eslint --fix, prettier --write

fix(ci): block commits on unit test failure in pre-commit hook
  .husky/pre-commit
Due: none

refactor(routing): consolidate protocol limits into limits.ts
  packages/routing/src/v2/datachannel.ts
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/internal/actions.ts
  packages/routing/src/v2/limits.ts
Due: eslint --fix, prettier --write

style: fix pre-existing prettier formatting, add css/html to lint-staged
  .lintstagedrc
  apps/orchestrator/v1-capabilities.md
  apps/orchestrator/v1-v2-gap-analysis.md
  apps/orchestrator/v2-capabilities.md
  apps/web-ui/frontend/index.html
  apps/web-ui/frontend/src/styles.css
  pnpm-lock.yaml
Due: prettier --write

feat(routing): add media protocol type and filter from Envoy
  apps/envoy/src/xds/resources.ts
  apps/envoy/tests/resources.test.ts
  packages/routing/src/v2/datachannel.ts
Due: eslint --fix, prettier --write

feat(telemetry): add withWideEvent helper and migrate all sites
  apps/envoy/src/rpc/server.ts
  apps/gateway/src/graphql/server.ts
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/compaction.ts
  apps/orchestrator/src/v2/http-transport.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/src/v2/ws-transport.ts
  docs/plans/2026-03-18-wideevent-guaranteed-emission.md
  docs/specs/2026-03-18-wideevent-guaranteed-emission.md
  packages/telemetry/src/index.ts
  packages/telemetry/src/wide-event.ts
  packages/telemetry/tests/with-wide-event.unit.test.ts
Due: eslint --fix, prettier --write

fix: add missing lastConnected to peer record, fix zod default, wire config tests
  packages/config/src/index.ts
  packages/config/vitest.config.ts
  packages/routing/src/v2/rib/rib.ts
Due: eslint --fix, prettier --write

refactor(envoy): WideEvent Option A cleanup
  apps/envoy/src/rpc/server.ts
Due: eslint --fix, prettier --write

refactor(gateway): WideEvent Option A cleanup
  apps/gateway/src/graphql/server.ts
Due: eslint --fix, prettier --write

fix(gateway): add event.log for SDL validation success
  apps/gateway/src/graphql/server.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): WideEvent cleanup for ws-transport openPeer
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

fix(envoy): add event.log.warn for legacy port derivation
  apps/envoy/src/rpc/server.ts
Due: eslint --fix, prettier --write

fix(gateway): add zero_services flag to WideEvent for empty reload
  apps/gateway/src/graphql/server.ts
Due: eslint --fix, prettier --write

refactor(envoy): extract NACK warning threshold into named constant
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

fix(orchestrator): re-throw unexpected errors in v1 dispatch
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

fix(config): wrap JSON.parse in try/catch with descriptive error messages
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

docs: trim future work section to reference only
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: consolidate planning docs into single stack overview
  docs/plans/2026-03-09-comprehensive-node-logging-design.md
  docs/plans/2026-03-09-comprehensive-node-logging.md
  docs/plans/2026-03-09-dashboard-extraction-design.md
  docs/plans/2026-03-09-dashboard-extraction.md
  docs/plans/2026-03-09-stack-overview.md
  docs/plans/2026-03-09-structured-logging-wide-events-design.md
  docs/plans/2026-03-09-structured-logging-wide-events.md
  docs/superpowers/plans/2026-03-10-aspire-dashboard.md
  docs/superpowers/plans/2026-03-10-otel-attribute-naming.md
  docs/superpowers/plans/2026-03-11-pr-review-fixes.md
  docs/superpowers/specs/2026-03-10-aspire-dashboard-otel-verification-design.md
  docs/superpowers/specs/2026-03-10-otel-attribute-naming-design.md
  docs/superpowers/specs/2026-03-11-pr-review-fixes-design.md
Due: prettier --write

docs: rename stack overview to structured-logging-and-dashboard
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

fix(config): only include orchestrator config when envoy env vars are set
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

fix(orchestrator): return error instead of re-throwing in v1 dispatch, restore handleNotify comment
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

fix(orchestrator): preserve route-create payload in dispatch WideEvent
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

refactor(config): move dashboard links to config file
  apps/web-ui/src/server.ts
  docker-compose/dashboard-links.json
  docker-compose/docker.compose.yaml
  docker-compose/two-node.compose.yaml
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): WideEvent minimal cleanup for v1 dispatch
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

feat(orchestrator): wire health checker with iBGP propagation action
  apps/orchestrator/src/v2/catalyst-service.ts
  packages/routing/src/v2/action-types.ts
  packages/routing/src/v2/local/actions.ts
  packages/routing/src/v2/rib/rib.ts
  packages/routing/src/v2/schema.ts
Due: eslint --fix, prettier --write

feat(routing): add health fields to DataChannelDefinition with config and design doc
  .gitignore
  docs/plans/2026-03-16-per-adapter-health-status.md
  packages/config/src/index.ts
  packages/routing/src/v2/datachannel.ts
  packages/routing/src/v2/views.ts
Due: eslint --fix, prettier --write

feat(orchestrator): add AdapterHealthChecker class
  apps/orchestrator/src/v2/adapter-health.ts
Due: eslint --fix, prettier --write

test(orchestrator): AdapterHealthChecker unit tests
  apps/orchestrator/tests/v2/adapter-health.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): migrate rpc/transport WideEvents to withWideEvent
  apps/orchestrator/src/v2/http-transport.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

fix: restore code lost during restack conflict resolution
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
  apps/orchestrator/tests/v2/adapter-health-propagation.test.ts
  packages/routing/src/v2/datachannel.ts
Due: eslint --fix, prettier --write

fix: migrate remaining WideEvent sites to withWideEvent
  apps/envoy/src/rpc/server.ts
  apps/gateway/src/graphql/server.ts
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/compaction.ts
  apps/orchestrator/src/v2/service.ts
Due: eslint --fix, prettier --write
