Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(orchestrator): add structured route exchange and convergence logging
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/tests/v2-route-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(orchestrator): add structured peering and reconnection logging
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/tests/v2-peering-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): add error context to peering catch blocks and log initial sync failures
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/reconnect.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): use single-pass route change counting for readability
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

feat(gateway): add structured SDL validation and stitching logging
  apps/gateway/src/graphql/server.ts
  apps/gateway/tests/gateway-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(envoy): add structured xDS config diff and NACK tracking logging
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/xds/control-plane.ts
  apps/envoy/tests/envoy-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(auth): add structured key rotation, token lifecycle, and policy evaluation logging
  packages/authorization/src/jwt/local/index.ts
  packages/authorization/src/key-manager/persistent.ts
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/tests/security-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(envoy): clean up clientNackCounts on stream close to prevent memory leak
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

fix(auth): remove duplicate flat-key properties from structured log calls
  packages/authorization/src/jwt/local/index.ts
  packages/authorization/src/key-manager/persistent.ts
  packages/authorization/src/service/rpc/server.ts
Due: eslint --fix, prettier --write

feat(web-ui): move frontend from orchestrator and update API paths
  apps/web-ui/frontend/index.html
  apps/web-ui/frontend/src/App.tsx
  apps/web-ui/frontend/src/components/AdaptersTab.tsx
  apps/web-ui/frontend/src/components/NodesTab.tsx
  apps/web-ui/frontend/src/components/ObservabilityLinks.tsx
  apps/web-ui/frontend/src/components/PeersSection.tsx
  apps/web-ui/frontend/src/components/ServiceCard.tsx
  apps/web-ui/frontend/src/components/Sidebar.tsx
  apps/web-ui/frontend/src/hooks/useConfig.ts
  apps/web-ui/frontend/src/hooks/useHealth.ts
  apps/web-ui/frontend/src/hooks/useRouterState.ts
  apps/web-ui/frontend/src/main.tsx
  apps/web-ui/frontend/src/styles.css
  apps/web-ui/frontend/tsconfig.json
  apps/web-ui/frontend/vite.config.ts
Due: eslint --fix, prettier --write

fix(web-ui): extend root tsconfig, forward query strings, restrict proxy to GET
  apps/web-ui/src/server.ts
  apps/web-ui/tsconfig.json
Due: eslint --fix, prettier --write

feat(web-ui): scaffold standalone web-ui app with proxy backend
  apps/web-ui/package.json
  apps/web-ui/src/server.ts
  apps/web-ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(orchestrator): remove dashboard frontend serving
  apps/orchestrator/Dockerfile
  apps/orchestrator/package.json
  apps/orchestrator/src/v1/service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(dashboard): strip peerToken credentials from dashboard API responses
  apps/orchestrator/src/routes/dashboard.ts
Due: eslint --fix, prettier --write

feat(docker): add web-ui service to docker-compose configs
  apps/auth/Dockerfile
  apps/envoy/Dockerfile
  apps/gateway/Dockerfile
  apps/orchestrator/Dockerfile
  docker-compose/docker.compose.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix(orchestrator): mount dashboard API routes in v2 service
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/src/v1/service.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  web-ui-dashboard.png
Due: eslint --fix, prettier --write

feat(web-ui): add Dockerfile with Vite build and esbuild bundle
  apps/web-ui/Dockerfile
Due: none

chore: remove screenshot artifact
  web-ui-dashboard.png
Due: none

feat(orchestrator): add WideEvent instrumentation to v2 bus and transport
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

fix: address code review feedback across stack
  apps/envoy/src/xds/control-plane.ts
  apps/gateway/src/graphql/server.ts
  apps/gateway/src/rpc/server.ts
  apps/gateway/tests/gateway-logging.unit.test.ts
  apps/web-ui/Dockerfile
  apps/web-ui/package.json
  apps/web-ui/src/server.ts
  apps/web-ui/src/service.ts
  packages/authorization/src/jwt/local/index.ts
  packages/authorization/src/key-manager/persistent.ts
  packages/authorization/src/service/rpc/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(telemetry,service): rename event.outcome/duration_ms to catalyst.event.* prefix
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/catalyst-service.ts
  packages/service/tests/lifecycle-logging.unit.test.ts
  packages/telemetry/src/middleware/wide-event.ts
  packages/telemetry/src/wide-event.ts
  packages/telemetry/tests/wide-event-middleware.unit.test.ts
  packages/telemetry/tests/wide-event.unit.test.ts
Due: eslint --fix, prettier --write

docs: add OTel attribute naming design spec
  docs/superpowers/specs/2026-03-10-otel-attribute-naming-design.md
Due: prettier --write

docs: add OTel attribute naming implementation plan
  docs/superpowers/plans/2026-03-10-otel-attribute-naming.md
Due: prettier --write

refactor(orchestrator): rename custom attributes to catalyst.orchestrator.* prefix
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
  apps/orchestrator/tests/v2-peering-logging.unit.test.ts
  apps/orchestrator/tests/v2-route-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(docker): add opt-in Aspire Dashboard for OTel verification
  docker-compose/aspire.compose.yaml
  docker-compose/otel-collector-aspire.yaml
Due: prettier --write

docs: add Aspire Dashboard implementation plan
  docs/superpowers/plans/2026-03-10-aspire-dashboard.md
Due: prettier --write

docs: add Aspire Dashboard OTel verification design spec
  docs/superpowers/specs/2026-03-10-aspire-dashboard-otel-verification-design.md
Due: prettier --write

fix(docker): use otlp_grpc exporter alias for Aspire (deprecation fix)
  docker-compose/otel-collector-aspire.yaml
Due: prettier --write

fix(dashboard): address PR #506 review feedback
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/catalyst-service.ts
Due: eslint --fix, prettier --write

docs: add PR review fixes implementation plan
  docs/superpowers/plans/2026-03-11-pr-review-fixes.md
Due: prettier --write

docs: add PR review fixes design spec
  docs/superpowers/specs/2026-03-11-pr-review-fixes-design.md
Due: prettier --write

refactor(docker): extract observability stack to compose overlay
  docker-compose/docker.compose.yaml
  docker-compose/observability.compose.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

test(dashboard): add unit tests for dashboard routes and bus immutability
  apps/orchestrator/tests/routes/dashboard.test.ts
  apps/orchestrator/tests/v2/bus.test.ts
Due: eslint --fix, prettier --write

fix(dashboard): rename latencyMs to durationMs in web-ui frontend
  apps/web-ui/frontend/src/components/ServiceCard.tsx
  apps/web-ui/frontend/src/hooks/useHealth.ts
Due: eslint --fix, prettier --write

fix: address code review follow-up items
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  docker-compose/observability.compose.yaml
  docker-compose/otel-collector-aspire.yaml
  docker-compose/otel-collector-config.yaml
  docker-compose/otel-collector-observability.yaml
Due: eslint --fix, prettier --write

fix(auth): drop user:root — use entrypoint for privilege drop
  apps/auth/Dockerfile
  apps/auth/docker-entrypoint.sh
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix(config): make envoyConfig required in orchestrator schema
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/tests/routes/dashboard.test.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

feat(routing): add immutable Map helper utilities
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/map-helpers.ts
  packages/routing/tests/v2/map-helpers.test.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): replace inline credential stripping with view classes
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/rpc.ts
Due: eslint --fix, prettier --write

feat(routing): add PeerView, InternalRouteView, RouteTableView classes
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/views.ts
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
