Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(pki): add PKI progressive RPC API on AuthRpcServer
  packages/authorization/package.json
  packages/authorization/src/service/rpc/schema.ts
  packages/authorization/src/service/rpc/server.ts
Due: eslint --fix, prettier --write

feat(pki): wire CertificateManager into AuthService with HTTP endpoints
  bun.lock
  packages/authorization/package.json
  packages/authorization/src/service/service.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

test(pki): add integration tests and PKI RPC progressive API tests
  packages/authorization/tests/service/pki-rpc.test.ts
  packages/pki/tests/integration/full-flow.integration.test.ts
Due: eslint --fix, prettier --write

fix(demo): added missing zenoh config in examples
  demo/zenoh-tak/docker-compose.yaml
  examples/zeno-tak-adapter-v2/.gitignore
  examples/zeno-tak-adapter-v2/Dockerfile
  examples/zeno-tak-adapter-v2/build/zenoh-bridge-config.json5
Due: prettier --write

chore: example zenoh config
  examples/zeno-tak-adapter-v2/build/zenoh-test-config.json5
Due: none

refactor(pki): add discriminated union config schema and fromConfig() factory
  packages/authorization/src/service/service.ts
  packages/config/src/index.ts
  packages/pki/src/certificate-manager.ts
  packages/pki/src/index.ts
  packages/pki/tests/from-config.test.ts
Due: eslint --fix, prettier --write

test(pki): add mTLS integration test with Bun.serve() and fetch()
  packages/pki/tests/integration/mtls.integration.test.ts
Due: eslint --fix, prettier --write

docs(pki): add PKI primer, Bun TLS cookbook, SPIFFE primer, and package READMEs
  docs/adr/README.md
  docs/pki/README.md
  docs/pki/bun-tls-cookbook.md
  docs/pki/pki-primer.md
  docs/pki/spiffe-primer.md
  packages/pki/README.md
Due: prettier --write

feat: rpi builds:
  apps/rpi-config/package.json
  apps/rpi-config/src/defaults.ts
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/instructions.ts
  apps/rpi-config/src/layers.ts
  apps/rpi-config/src/output-writer.ts
  apps/rpi-config/src/prompts.ts
  apps/rpi-config/src/types.ts
  apps/rpi-config/src/validator.ts
  builds/rpi/build.sh
  bun.lock
  package.json
Due: eslint --fix, prettier --write

chore: created docs
  apps/rpi-config/README.md
  apps/rpi-config/docs/architecture.md
  apps/rpi-config/examples/docker-basic.yaml
  apps/rpi-config/examples/docker-production.yaml
  apps/rpi-config/examples/minimal-native.yaml
  apps/rpi-config/examples/native-full.yaml
  apps/rpi-config/examples/native-wifi-ssh.yaml
Due: prettier --write

feat: added password check to make sure it complies with complexity
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/password.ts
  apps/rpi-config/src/prompts.ts
Due: eslint --fix, prettier --write

chore: update docs and instructions
  apps/rpi-config/README.md
  apps/rpi-config/src/instructions.ts
Due: eslint --fix, prettier --write

feat(rpi-build-docker): build img files inside a bookworm docker container
  apps/rpi-config/src/instructions.ts
  apps/rpi-config/src/layers.ts
  builds/rpi/Dockerfile.build
  builds/rpi/build-docker.sh
  builds/rpi/build.sh
  builds/rpi/layer/catalyst-cloudflared.yaml
  builds/rpi/layer/catalyst-wifi.yaml
Due: eslint --fix, prettier --write

Update 0011-cedar-policy-authorization-schema.md
  docs/adr/0011-cedar-policy-authorization-schema.md
Due: prettier --write

fix(build-docker): working version of rpi image building
  builds/rpi/Dockerfile.build
  builds/rpi/build-docker.sh
Due: none

feat(rpi-autologin): added new autologin and journalctl log stream as default behaviour
  apps/rpi-config/src/config-builder.ts
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/instructions.ts
  apps/rpi-config/src/layers.ts
  apps/rpi-config/src/prompts.ts
  apps/rpi-config/src/types.ts
  apps/rpi-config/src/yaml-writer.ts
  builds/rpi/layer/catalyst-console.yaml
Due: eslint --fix, prettier --write

fix(wifi): wifi use passphrase
  apps/rpi-config/src/layers.ts
  builds/rpi/layer/catalyst-cloudflared.yaml
  builds/rpi/layer/catalyst-wifi.yaml
Due: eslint --fix, prettier --write

fix(rpi): harden image layers, improve wifi and build
  apps/rpi-config/README.md
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/layers.ts
  apps/rpi-config/src/prompts.ts
  builds/rpi/build.sh
  builds/rpi/layer/catalyst-cloudflared.yaml
  builds/rpi/layer/catalyst-console.yaml
  builds/rpi/layer/catalyst-docker-stack.yaml
  builds/rpi/layer/catalyst-node.yaml
  builds/rpi/layer/catalyst-otel.yaml
  builds/rpi/layer/catalyst-wifi.yaml
  builds/rpi/quickstart.sh
  docs/builds/rpi.md
Due: eslint --fix, prettier --write

feat(ci): add PR review workflow with constitution and ADR checks
  .github/workflows/pr-review.yml
Due: prettier --write

ci: add CI workflow with lint, test, and docker validate jobs
  .github/workflows/ci.yml
Due: prettier --write

feat(envoy): add PQ mTLS support via Envoy TLS termination and XFCC
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/xds/proto-encoding.ts
  apps/envoy/src/xds/resources.ts
  apps/envoy/tests/resources.test.ts
  docs/adr/0012-envoy-tls-termination-pq-readiness.md
  packages/authorization/src/index.ts
  packages/authorization/src/middleware/xfcc.ts
  packages/authorization/tests/middleware/xfcc.test.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

feat(orchestrator): wire PQ mTLS cert lifecycle and Envoy-routed peering
  apps/envoy/src/xds/resources.ts
  apps/envoy/tests/resources.test.ts
  apps/orchestrator/package.json
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/src/service.ts
  bun.lock
Due: eslint --fix, prettier --write

test(orchestrator): add tests for TLS passthrough, Envoy-routed peering, and publicAddress
  apps/orchestrator/tests/orchestrator.envoy.test.ts
Due: eslint --fix, prettier --write

docs(adr): add ADR 0013 JavaScript Runtime Selection (Bun → Node.js)
  docs/adr/0013-javascript-runtime-selection.md
  docs/adr/README.md
Due: prettier --write

refactor(sqlite): migrate bun:sqlite to better-sqlite3
  bun.lock
  package.json
  packages/authorization/package.json
  packages/authorization/src/jwt/local/sqlite-store.ts
  packages/authorization/src/key-manager/sqlite-key-store.ts
  packages/pki/package.json
  packages/pki/src/store/sqlite-certificate-store.ts
Due: eslint --fix, prettier --write

test(containers): replace Bun.spawn docker builds with Testcontainers fromDockerfile()
  apps/auth/tests/container.test.ts
  apps/cli/tests/auth/token.container.test.ts
  apps/cli/tests/node/peer.container.test.ts
  apps/cli/tests/node/route.container.test.ts
  apps/envoy/tests/cross-node-routing.container.test.ts
  apps/envoy/tests/envoy-proxy.container.test.ts
  apps/envoy/tests/envoy-service.container.test.ts
  apps/envoy/tests/three-node-hop.container.test.ts
  apps/gateway/tests/container.gateway.test.ts
  apps/gateway/tests/integration.graphql.test.ts
  apps/orchestrator/tests/orchestrator.container.test.ts
  apps/orchestrator/tests/orchestrator.gateway.container.test.ts
  apps/orchestrator/tests/peering.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/transit.orchestrator.topology.container.test.ts
  examples/books-api/tests/containers.test.ts
Due: eslint --fix, prettier --write

feat(adr-0011): new adr for cedar policy engine
  docs/adr/0008-permission-policy-schema.md
  docs/adr/0011-cedar-policy-authorization-schema.md
  packages/authorization/src/policy/src/definitions/admin.cedar
  packages/authorization/src/policy/src/definitions/cedar.d.ts
  packages/authorization/src/policy/src/definitions/index.ts
  packages/authorization/src/policy/src/definitions/schema.cedarschema
Due: eslint --fix, prettier --write

ci(pr-review): increase max-turns from 10 to 30
  .github/workflows/pr-review.yml
Due: prettier --write

refactor(server): migrate Bun.serve() and hono/bun to @hono/node-server
  apps/auth/src/server.ts
  apps/cli/package.json
  apps/cli/src/handlers/graphql-ide-handlers.ts
  apps/envoy/src/index.ts
  apps/envoy/src/rpc/server.ts
  apps/envoy/tests/ads.integration.test.ts
  apps/envoy/tests/e2e.integration.test.ts
  apps/envoy/tests/envoy-proxy.container.test.ts
  apps/envoy/tests/rpc.integration.test.ts
  apps/envoy/tests/traffic-routing.container.test.ts
  apps/gateway/src/index.ts
  apps/gateway/src/rpc/server.ts
  apps/gateway/tests/integration.rpc.test.ts
  apps/orchestrator/src/service.ts
  bun.lock
  package.json
  packages/authorization/src/service/rpc/server.ts
  packages/pki/tests/integration/mtls.integration.test.ts
  packages/service/package.json
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/index.ts
  packages/service/tests/catalyst-hono-server.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(authorization): add Cedar list/gateway actions and remove dispatch() from PublicApi
  apps/orchestrator/src/orchestrator.ts
  packages/authorization/src/policy/src/definitions/data-custodian.cedar
  packages/authorization/src/policy/src/definitions/index.ts
  packages/authorization/src/policy/src/definitions/models.ts
  packages/authorization/src/policy/src/definitions/node-custodian.cedar
  packages/authorization/src/policy/src/definitions/node.cedar
  packages/authorization/src/policy/src/definitions/schema.cedarschema
  packages/authorization/src/policy/src/definitions/user.cedar
Due: eslint --fix, prettier --write

refactor(cli): migrate Bun.spawn to child_process.execFile
  apps/cli/src/handlers/graphql-ide-handlers.ts
Due: eslint --fix, prettier --write

chore: remove Bun runtime types and update scripts to Node.js tooling
  apps/auth/package.json
  apps/auth/src/server.ts
  apps/auth/tsconfig.json
  apps/cli/package.json
  apps/cli/tsconfig.json
  apps/envoy/package.json
  apps/envoy/tsconfig.json
  apps/gateway/package.json
  apps/gateway/tsconfig.json
  apps/orchestrator/package.json
  apps/orchestrator/tsconfig.json
  bun.lock
  bunfig.toml
  examples/books-api/package.json
  examples/books-api/tsconfig.json
  examples/movies-api/package.json
  examples/movies-api/tsconfig.json
  package.json
  packages/authorization/package.json
  packages/authorization/tsconfig.json
  packages/config/package.json
  packages/pki/package.json
  packages/pki/tsconfig.json
  packages/routing/package.json
  packages/routing/tsconfig.json
  packages/service/package.json
  packages/service/tsconfig.json
  packages/telemetry/package.json
  packages/telemetry/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.json
Due: eslint --fix, prettier --write

refactor(docker): migrate Dockerfiles from Bun to Node.js runtime
  apps/auth/Dockerfile
  apps/envoy/Dockerfile
  apps/gateway/Dockerfile
  apps/orchestrator/Dockerfile
  bun.lock
  docker-compose/Dockerfile.test
  docker-compose/three-node.compose.yaml
  examples/books-api/Dockerfile
  examples/books-api/package.json
  examples/books-api/src/index.ts
  examples/movies-api/Dockerfile
  examples/movies-api/package.json
  examples/movies-api/src/index.ts
  examples/orders-api/Dockerfile
  examples/product-api/Dockerfile
  packages/authorization/src/policy/src/definitions/index.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): fix package boundary violations
  apps/envoy/package.json
  apps/envoy/src/index.ts
  apps/envoy/src/server.ts
  apps/orchestrator/package.json
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/src/types.ts
Due: eslint --fix, prettier --write

feat(routing): add Tick action type for keepalive mechanism
  packages/routing/src/action-types.ts
  packages/routing/src/index.ts
  packages/routing/src/schema.ts
  packages/routing/src/system/actions.ts
  packages/routing/tests/tick-action.test.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): extract PeerTransport from RPC ceremony
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/src/peer-transport.ts
  apps/orchestrator/tests/peer-transport.test.ts
  docs/architecture-proposal-orchestrator-refactor.md
Due: eslint --fix, prettier --write

refactor(orchestrator): extract api-types and add RPC timeout
  apps/orchestrator/src/api-types.ts
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/src/peer-transport.ts
  apps/orchestrator/src/types.ts
  apps/orchestrator/tests/connection-pool.test.ts
  apps/orchestrator/tests/orchestrator.container.test.ts
  apps/orchestrator/tests/orchestrator.envoy.test.ts
  apps/orchestrator/tests/orchestrator.gateway.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
