Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

test(routing): add multi-route batch update tests
  packages/routing/tests/v2/rib/rib.test.ts
Due: eslint --fix, prettier --write

docs: update documentation for v2 routing architecture
  ARCHITECTURE.md
  INTERNAL_PEERING.md
  README.md
  SECURITY.md
  apps/orchestrator/README.md
  docs/adr/0006-node-orchestrator-architecture.md
Due: prettier --write

docs(orchestrator): update gateway integration section to v2 dispatch
  apps/orchestrator/README.md
Due: prettier --write

docs: add v2 routing system test catalog
  TEST-CATALOG.md
Due: prettier --write

fix(docs): reconcile test catalog counts with actual vitest output
  TEST-CATALOG.md
Due: prettier --write

refactor(docs): replace test count summary with coverage overview
  TEST-CATALOG.md
Due: prettier --write

docs: update crosswalk/milestones for v2, add routing README
  docs/reference/crosswalk.md
  docs/reference/milestones.md
  packages/routing/README.md
Due: prettier --write

chore(docs): restructure documentation into docs/ hierarchy
  docs/adr/0015-cedar-policy-authorization-schema.md
  docs/architecture/bgp-protocol.md
  docs/architecture/cli.md
  docs/architecture/envoy-integration.md
  docs/architecture/internal-peering.md
  docs/architecture/jwt-service.md
  docs/architecture/peering-test-architecture.md
  docs/architecture/sdk.md
  docs/architecture/tech-stack.md
  docs/guides/builds/rpi.md
  docs/guides/demos/three-stack.md
  docs/guides/demos/zenoh-multi-hop.md
  docs/presentations/overview/catalyst-router-deck.pptx
  docs/reference/crosswalk.md
  docs/reference/milestones.md
  docs/reference/rfi.md
  docs/reference/test-catalog.md
Due: prettier --write

chore(docs): fix internal links after docs restructure
  docs/adr/0008-permission-policy-schema.md
  docs/adr/0014-package-manager-selection.md
  docs/architecture/envoy-integration.md
  docs/architecture/internal-peering.md
Due: prettier --write

docs: add Typst whitepapers for node architecture and data control
  docs/presentations/overview/data-control.typ
  docs/presentations/overview/node-architecture.typ
Due: none

fix(routing): standardize timestamps to number and fix holdTime on reconnect
  apps/orchestrator/src/v2/catalyst-service.ts
  packages/routing/src/v2/rib/rib.ts
  packages/routing/src/v2/state.ts
  packages/routing/tests/v2/rib/rib.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): wire up TickManager.recalculate after peer connect
  apps/orchestrator/src/v2/service.ts
Due: eslint --fix, prettier --write

feat(orchestrator): move dashboard into orchestrator service
  apps/orchestrator/Dockerfile
  apps/orchestrator/frontend/index.html
  apps/orchestrator/frontend/src/App.tsx
  apps/orchestrator/frontend/src/components/ObservabilityLinks.tsx
  apps/orchestrator/frontend/src/components/ServiceCard.tsx
  apps/orchestrator/frontend/src/hooks/useConfig.ts
  apps/orchestrator/frontend/src/hooks/useHealth.ts
  apps/orchestrator/frontend/src/hooks/useRouterState.ts
  apps/orchestrator/frontend/src/main.tsx
  apps/orchestrator/frontend/src/styles.css
  apps/orchestrator/frontend/tsconfig.json
  apps/orchestrator/frontend/vite.config.ts
  apps/orchestrator/package.json
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/src/service.ts
  docker-bake.hcl
  docker-compose/two-node.compose.yaml
  packages/config/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(docker-compose): add observability stack configs and fix service env vars
  docker-compose/grafana/provisioning/dashboards/dashboards.yaml
  docker-compose/grafana/provisioning/dashboards/json/catalyst-services.json
  docker-compose/grafana/provisioning/datasources/datasources.yaml
  docker-compose/loki-config.yaml
  docker-compose/otel-collector-config.yaml
  docker-compose/prometheus.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: remove hardcoded somebiz.local.io domain validation
  apps/orchestrator/src/orchestrator.ts
Due: eslint --fix, prettier --write

feat(dashboard): add build pipeline and mount in orchestrator
  apps/orchestrator/Dockerfile
  apps/orchestrator/frontend/index.html
  apps/orchestrator/frontend/tsconfig.json
  apps/orchestrator/frontend/vite.config.ts
  apps/orchestrator/package.json
  apps/orchestrator/src/service.ts
  docker-bake.hcl
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: throw on invalid CATALYST_DASHBOARD_LINKS JSON, add auth TODO
  apps/orchestrator/src/routes/dashboard.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

feat(dashboard): add NodesTab, PeersSection, and AdaptersTab
  apps/orchestrator/frontend/src/components/AdaptersTab.tsx
  apps/orchestrator/frontend/src/components/NodesTab.tsx
  apps/orchestrator/frontend/src/components/PeersSection.tsx
Due: eslint --fix, prettier --write

feat(dashboard): add App shell, Sidebar, and styles
  apps/orchestrator/frontend/src/App.tsx
  apps/orchestrator/frontend/src/components/Sidebar.tsx
  apps/orchestrator/frontend/src/styles.css
Due: eslint --fix, prettier --write

feat(dashboard): add docker-compose and observability configs
  docker-compose/grafana/provisioning/dashboards/dashboards.yaml
  docker-compose/grafana/provisioning/dashboards/json/catalyst-services.json
  docker-compose/grafana/provisioning/datasources/datasources.yaml
  docker-compose/loki-config.yaml
  docker-compose/otel-collector-config.yaml
  docker-compose/prometheus.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

feat(dashboard): add frontend hooks, components, and entry point
  apps/orchestrator/frontend/src/components/ObservabilityLinks.tsx
  apps/orchestrator/frontend/src/components/ServiceCard.tsx
  apps/orchestrator/frontend/src/hooks/useConfig.ts
  apps/orchestrator/frontend/src/hooks/useHealth.ts
  apps/orchestrator/frontend/src/hooks/useRouterState.ts
  apps/orchestrator/frontend/src/main.tsx
Due: eslint --fix, prettier --write

fix: rename Nodes tab to Services
  apps/orchestrator/frontend/src/App.tsx
Due: eslint --fix, prettier --write

feat(config): add dashboard config schema and API routes
  apps/orchestrator/src/orchestrator.ts
  apps/orchestrator/src/routes/dashboard.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

fix: rename domain to dev.catalyst.local, remove auth endpoint
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: add CATALYST_SYSTEM_TOKEN to orchestrator nodes in docker-compose
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: revert domain rename - validation is hardcoded in orchestrator, remove auth endpoint
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: remove auth endpoint (needs bootstrap flow), rename domain to dev.catalyst.local
  docker-compose/two-node.compose.yaml
Due: prettier --write

chore(docs): restructure documentation into docs/ hierarchy
  docs/architecture/bgp-protocol.md
  docs/architecture/cli.md
  docs/architecture/envoy-integration.md
  docs/architecture/internal-peering.md
  docs/architecture/jwt-service.md
  docs/architecture/peering-test-architecture.md
  docs/architecture/sdk.md
  docs/architecture/tech-stack.md
  docs/guides/builds/rpi.md
  docs/guides/demos/three-stack.md
  docs/guides/demos/zenoh-multi-hop.md
  docs/presentations/overview/catalyst-router-deck.pptx
  docs/reference/crosswalk.md
  docs/reference/milestones.md
  docs/reference/rfi.md
  docs/reference/test-catalog.md
Due: prettier --write

feat(config): add video configuration schema
  packages/config/src/index.ts
  packages/config/tests/video-config.test.ts
Due: eslint --fix, prettier --write

test(video): add unit and integration tests
  apps/video/test/integration/burst-perf.test.ts
  apps/video/test/integration/edge-cases.test.ts
  apps/video/test/integration/rpc-lifecycle.test.ts
  apps/video/test/integration/service-lifecycle.test.ts
  apps/video/test/integration/subscribe-flow.test.ts
  apps/video/test/integration/webhook-debounce.test.ts
  apps/video/test/unit/bus-client.test.ts
  apps/video/test/unit/reconcile.test.ts
  apps/video/test/unit/rpc-server.test.ts
  apps/video/test/unit/stream-relay-manager.test.ts
  apps/video/test/unit/video-auth.test.ts
  apps/video/test/unit/video-control.test.ts
  apps/video/test/unit/video-subscribe.test.ts
Due: eslint --fix, prettier --write

feat(video): add standalone video stream service
  apps/video/package.json
  apps/video/src/bus-client.ts
  apps/video/src/index.ts
  apps/video/src/reconcile.ts
  apps/video/src/rpc-handler.ts
  apps/video/src/rpc-server.ts
  apps/video/src/service.ts
  apps/video/src/stream-relay-manager.ts
  apps/video/src/video-auth.ts
  apps/video/src/video-control.ts
  apps/video/src/video-subscribe.ts
  apps/video/tsconfig.json
  apps/video/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(video): add Dockerfile and docker-compose support
  Dockerfile.base
  apps/auth/Dockerfile
  apps/envoy/Dockerfile
  apps/gateway/Dockerfile
  apps/orchestrator/Dockerfile
  apps/video/Dockerfile
  apps/video/package.json
  docker-bake.hcl
  docker-compose/Dockerfile.test
  docker-compose/docker.compose.yaml
  docker-compose/example.m0p2.compose.yaml
  docker-compose/three-node.compose.yaml
  docker-compose/two-node.compose.yaml
  docker-compose/zenoh-3node.compose.yaml
  examples/books-api/Dockerfile
  examples/orders-api/Dockerfile
  examples/product-api/Dockerfile
  pnpm-lock.yaml
Due: prettier --write

fix: remove hardcoded somebiz.local.io domain validation
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write
