Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(video): wire lifecycle hooks for stream route dispatch
  apps/video/src/hooks/ready.ts
  apps/video/src/media/config-writer.ts
  apps/video/src/media/process.ts
  apps/video/src/service.ts
  apps/video/tests/hook-handler.test.ts
  apps/video/tests/process.test.ts
  apps/video/tests/service.test.ts
Due: eslint --fix, prettier --write

feat(video): implement auth hooks and route visibility checks
  apps/video/src/hooks/auth.ts
  apps/video/src/service.ts
  apps/video/tests/auth-hook.test.ts
Due: eslint --fix, prettier --write

feat(video): add Dockerfile and two-node demo
  apps/video/Dockerfile
  apps/video/src/media/config-writer.ts
  apps/video/src/media/process.ts
  apps/video/tests/config-writer.test.ts
  demo/video/README.md
  demo/video/docker-compose.yaml
  demo/video/init.sh
Due: eslint --fix, prettier --write

feat(video): implement remote stream relay reconciliation
  apps/video/src/relay/relay-manager.ts
  apps/video/src/service.ts
  apps/video/tests/relay-manager.test.ts
Due: eslint --fix, prettier --write

docs: add status page design document
  docs/plans/2026-03-04-status-page-design.md
Due: prettier --write

docs: add status page implementation plan
  docs/plans/2026-03-04-status-page-plan.md
Due: prettier --write

chore: configure OTEL collector to export to Prometheus, Jaeger, InfluxDB
  docker-compose/otel-collector-config.yaml
Due: prettier --write

chore: add Prometheus, Jaeger, InfluxDB to two-node compose
  docker-compose/prometheus.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

feat: scaffold apps/status-page with StatusPageService
  apps/status-page/package.json
  apps/status-page/src/index.ts
  apps/status-page/src/service.ts
  apps/status-page/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add proxy routes for Prometheus, Jaeger, InfluxDB
  apps/status-page/src/routes/logs.ts
  apps/status-page/src/routes/metrics.ts
  apps/status-page/src/routes/traces.ts
  apps/status-page/src/service.ts
Due: eslint --fix, prettier --write

feat: add Dockerfile and docker-compose for status-page
  apps/status-page/Dockerfile
  docker-bake.hcl
  docker-compose/two-node.compose.yaml
  package.json
Due: prettier --write

feat: add React + Vite frontend scaffold with tab navigation
  apps/status-page/frontend/index.html
  apps/status-page/frontend/src/App.tsx
  apps/status-page/frontend/src/main.tsx
  apps/status-page/frontend/tsconfig.json
  apps/status-page/frontend/vite.config.ts
  apps/status-page/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: serve Vite-built frontend from Hono backend
  apps/status-page/Dockerfile
  apps/status-page/src/service.ts
Due: eslint --fix, prettier --write

feat: add service health cards with auto-polling
  apps/status-page/frontend/src/App.tsx
  apps/status-page/frontend/src/components/ServiceCard.tsx
  apps/status-page/frontend/src/hooks/useHealth.ts
  apps/status-page/src/routes/health.ts
  apps/status-page/src/service.ts
Due: eslint --fix, prettier --write

feat: add metrics sparklines, log stream, and trace explorer components
  apps/status-page/frontend/src/components/LogStream.tsx
  apps/status-page/frontend/src/components/MetricsChart.tsx
  apps/status-page/frontend/src/components/TraceList.tsx
  apps/status-page/frontend/src/hooks/useLogs.ts
  apps/status-page/frontend/src/hooks/useMetrics.ts
  apps/status-page/frontend/src/hooks/useTraces.ts
Due: eslint --fix, prettier --write

feat: complete nodes tab with expandable health, logs, metrics, traces
  apps/status-page/frontend/src/components/ServiceCard.tsx
Due: eslint --fix, prettier --write

chore: add status-page manifest to all Dockerfiles and docker-bake
  apps/auth/Dockerfile
  apps/envoy/Dockerfile
  apps/gateway/Dockerfile
  apps/orchestrator/Dockerfile
Due: none

test: add unit tests for StatusPageService
  apps/status-page/tests/service.unit.test.ts
Due: eslint --fix, prettier --write

fix: update envoy test imports for v1 orchestrator path restructure
  apps/envoy/tests/cross-node-routing.container.test.ts
  apps/envoy/tests/e2e.integration.test.ts
  apps/envoy/tests/envoy-proxy.container.test.ts
  apps/envoy/tests/three-node-hop.container.test.ts
  apps/envoy/tests/traffic-routing.container.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): bind iBGP session to authenticated JWT identity
  apps/orchestrator/package.json
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/tests/v2/rpc.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(orchestrator): require token validation on v2 RPC factories
  apps/orchestrator/src/v2/index.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/tests/v2/rpc.test.ts
Due: eslint --fix, prettier --write

fix(routing): bound UpdateMessage array to prevent DoS
  packages/routing/src/v2/internal/actions.ts
  packages/routing/tests/v2/schema.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): skip reconnect when node token is unavailable
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/tests/v2/reconnect.test.ts
Due: eslint --fix, prettier --write

chore: fix leftover import paths and test fixtures from v2 restructure
  apps/orchestrator/tests/v1/orchestrator.gateway.container.test.ts
  apps/orchestrator/tests/v1/peering.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/v1/transit.orchestrator.topology.container.test.ts
  packages/routing/tests/v1/datachannel.test.ts
  packages/routing/tests/v1/tick-action.test.ts
Due: eslint --fix, prettier --write

feat(ci): add multi-arch container image publish workflow
  .github/workflows/publish.yml
Due: prettier --write

docs(adr): renumber duplicate ADR-0011 cedar policy to ADR-0015
  docs/adr/0008-permission-policy-schema.md
  docs/adr/0015-cedar-policy-authorization-schema.md
  docs/adr/README.md
Due: prettier --write

refactor: move v1 routing and orchestrator files to v1/ subdirectories
  apps/orchestrator/src/index.ts
  apps/orchestrator/src/server.ts
  apps/orchestrator/src/v1/index.ts
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v1/service.ts
  apps/orchestrator/src/v1/types.ts
  apps/orchestrator/tests/v1/PEERING_TEST_ARCHITECTURE.md
  apps/orchestrator/tests/v1/auth-test-helpers.ts
  apps/orchestrator/tests/v1/mock-connection-pool.ts
  apps/orchestrator/tests/v1/orchestrator.container.test.ts
  apps/orchestrator/tests/v1/orchestrator.envoy.test.ts
  apps/orchestrator/tests/v1/orchestrator.gateway.container.test.ts
  apps/orchestrator/tests/v1/orchestrator.gateway.test.ts
  apps/orchestrator/tests/v1/orchestrator.topology.test.ts
  apps/orchestrator/tests/v1/peering.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/v1/peering.orchestrator.topology.test.ts
  apps/orchestrator/tests/v1/transit.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/v1/transit.orchestrator.topology.test.ts
  packages/routing/src/index.ts
  packages/routing/src/v1/action-types.ts
  packages/routing/src/v1/datachannel.ts
  packages/routing/src/v1/index.ts
  packages/routing/src/v1/internal/actions.ts
  packages/routing/src/v1/local/actions.ts
  packages/routing/src/v1/schema.ts
  packages/routing/src/v1/state.ts
  packages/routing/src/v1/system/actions.ts
  packages/routing/tests/v1/datachannel.test.ts
  packages/routing/tests/v1/tick-action.test.ts
Due: eslint --fix, prettier --write

fix: update v1 test imports and add routing/v1 package export
  apps/envoy/tests/cross-node-routing.container.test.ts
  apps/envoy/tests/e2e.integration.test.ts
  apps/envoy/tests/envoy-proxy.container.test.ts
  apps/envoy/tests/three-node-hop.container.test.ts
  apps/envoy/tests/traffic-routing.container.test.ts
  apps/orchestrator/tests/v1/orchestrator.container.test.ts
  apps/orchestrator/tests/v1/orchestrator.envoy.test.ts
  apps/orchestrator/tests/v1/orchestrator.gateway.test.ts
  apps/orchestrator/tests/v1/orchestrator.topology.test.ts
  apps/orchestrator/tests/v1/peering.orchestrator.topology.test.ts
  apps/orchestrator/tests/v1/transit.orchestrator.topology.test.ts
  packages/routing/package.json
  packages/routing/tests/v1/tick-action.test.ts
Due: eslint --fix, prettier --write

feat(routing): add v2 routing schemas, journal, and RIB
  packages/routing/package.json
  packages/routing/src/index.ts
  packages/routing/src/v2/action-types.ts
  packages/routing/src/v2/close-codes.ts
  packages/routing/src/v2/datachannel.ts
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/internal/actions.ts
  packages/routing/src/v2/journal/action-log.ts
  packages/routing/src/v2/journal/in-memory-action-log.ts
  packages/routing/src/v2/journal/index.ts
  packages/routing/src/v2/journal/schema.sql
  packages/routing/src/v2/journal/sqlite-action-log.ts
  packages/routing/src/v2/local/actions.ts
  packages/routing/src/v2/port-operation.ts
  packages/routing/src/v2/rib/action-queue.ts
  packages/routing/src/v2/rib/index.ts
  packages/routing/src/v2/rib/rib.ts
  packages/routing/src/v2/route-policy.ts
  packages/routing/src/v2/schema.ts
  packages/routing/src/v2/state.ts
  packages/routing/src/v2/system/actions.ts
  packages/routing/tests/v2/close-codes.test.ts
  packages/routing/tests/v2/datachannel.test.ts
  packages/routing/tests/v2/journal/in-memory-action-log.test.ts
  packages/routing/tests/v2/journal/sqlite-action-log.test.ts
  packages/routing/tests/v2/rib/action-queue.test.ts
  packages/routing/tests/v2/rib/rib.test.ts
  packages/routing/tests/v2/route-policy.test.ts
  packages/routing/tests/v2/schema.test.ts
  packages/routing/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(routing): purge stale routes from closed peers on Tick
  packages/routing/src/v2/rib/rib.ts
  packages/routing/tests/v2/rib/rib.test.ts
Due: eslint --fix, prettier --write

fix(routing): add missing SQLite pragmas and rename timestamp column
  packages/routing/src/v2/journal/action-log.ts
  packages/routing/src/v2/journal/in-memory-action-log.ts
  packages/routing/src/v2/journal/schema.sql
  packages/routing/src/v2/journal/sqlite-action-log.ts
  packages/routing/tests/v2/journal/sqlite-action-log.test.ts
Due: eslint --fix, prettier --write

feat(routing): v2 routing system with RIB, journal, and keepalive
  apps/orchestrator/package.json
  apps/orchestrator/src/v1/index.ts
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v1/types.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/index.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/src/v2/tick-manager.ts
  apps/orchestrator/src/v2/transport.ts
  apps/orchestrator/tests/v2/bus.test.ts
  apps/orchestrator/tests/v2/graceful-restart.topology.test.ts
  apps/orchestrator/tests/v2/journal-replay.test.ts
  apps/orchestrator/tests/v2/keepalive.topology.test.ts
  apps/orchestrator/tests/v2/orchestrator.topology.test.ts
  apps/orchestrator/tests/v2/post-commit.test.ts
  apps/orchestrator/tests/v2/reconnect.test.ts
  apps/orchestrator/tests/v2/rpc.test.ts
  apps/orchestrator/tests/v2/service.test.ts
  apps/orchestrator/tests/v2/tick-manager.test.ts
  docker-compose/~$catalyst-router-deck.pptx
Due: eslint --fix, prettier --write

refactor(orchestrator): group Bus helpers into BusGuards and BusTransforms
  apps/orchestrator/src/v2/bus.ts
  packages/routing/src/index.ts
Due: eslint --fix, prettier --write

fix(orchestrator): dispatch InternalProtocolConnected on reconnect
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/tests/v2/reconnect.test.ts
Due: eslint --fix, prettier --write

feat(orchestrator): switch server entry point from v1 to v2
  apps/orchestrator/src/index.ts
  apps/orchestrator/src/server.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
