Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

refactor(envoy): extract NACK warning threshold into named constant
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): WideEvent cleanup for v2 dispatch
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

fix(orchestrator): remove dead catch around Promise.allSettled, document syncRoutesToPeer
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

fix(orchestrator): preserve route-create payload in dispatch WideEvent
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

fix(config): only include orchestrator config when envoy env vars are set
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

fix(orchestrator): add event.log for peer sync started signal
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): WideEvent minimal cleanup for v1 dispatch
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

fix(orchestrator): return error instead of re-throwing in v1 dispatch, restore handleNotify comment
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

refactor(config): move dashboard links to config file
  apps/web-ui/src/server.ts
  docker-compose/dashboard-links.json
  docker-compose/docker.compose.yaml
  docker-compose/two-node.compose.yaml
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

fix(orchestrator): preserve per-peer error details in route propagation WideEvent
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

fix(orchestrator): re-throw unexpected errors in v1 dispatch
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): WideEvent cleanup for v2 peer_sync and route_propagation
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

docs: rename stack overview to structured-logging-and-dashboard
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: consolidate planning docs into single stack overview
  docs/plans/2026-03-09-comprehensive-node-logging-design.md
  docs/plans/2026-03-09-comprehensive-node-logging.md
  docs/plans/2026-03-09-dashboard-extraction-design.md
  docs/plans/2026-03-09-dashboard-extraction.md
  docs/plans/2026-03-09-stack-overview.md
  docs/plans/2026-03-09-structured-logging-wide-events-design.md
  docs/plans/2026-03-09-structured-logging-wide-events.md
  docs/superpowers/plans/2026-03-10-aspire-dashboard.md
  docs/superpowers/plans/2026-03-10-otel-attribute-naming.md
  docs/superpowers/plans/2026-03-11-pr-review-fixes.md
  docs/superpowers/specs/2026-03-10-aspire-dashboard-otel-verification-design.md
  docs/superpowers/specs/2026-03-10-otel-attribute-naming-design.md
  docs/superpowers/specs/2026-03-11-pr-review-fixes-design.md
Due: prettier --write

docs: remove future work section
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

fix(config): wrap JSON.parse in try/catch with descriptive error messages
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

docs: remove remaining superpowers planning docs
  docs/superpowers/plans/2026-03-12-wide-events-logging-cleanup-plan.md
  docs/superpowers/specs/2026-03-12-wide-events-logging-cleanup-design.md
Due: prettier --write

docs: add missing content to overview (Option A, catalogs, views, config, future work)
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: trim future work section to reference only
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

feat(routing): add immutable Map helper utilities
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/map-helpers.ts
  packages/routing/tests/v2/map-helpers.test.ts
Due: eslint --fix, prettier --write

fix(routing): early-return in nestedMapDelete when inner key missing
  packages/routing/src/v2/map-helpers.ts
Due: eslint --fix, prettier --write

refactor(routing): convert RouteTable from arrays to Maps
  packages/routing/src/v2/rib/rib.ts
  packages/routing/src/v2/state.ts
  packages/routing/src/v2/views.ts
  packages/routing/tests/v2/rib/rib.test.ts
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

refactor: update views and consumers for Map-based RouteTable
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/tests/routes/api-state.test.ts
  apps/orchestrator/tests/v2/bus.test.ts
  apps/orchestrator/tests/v2/graceful-restart.topology.test.ts
  apps/orchestrator/tests/v2/journal-replay.test.ts
  apps/orchestrator/tests/v2/keepalive.topology.test.ts
  apps/orchestrator/tests/v2/orchestrator.topology.test.ts
  apps/orchestrator/tests/v2/post-commit.test.ts
  apps/orchestrator/tests/v2/rpc.test.ts
  apps/orchestrator/tests/v2/service.test.ts
Due: eslint --fix, prettier --write

refactor(routing): extract internalRouteCount getter on RouteTableView
  apps/orchestrator/src/v2/bus.ts
  packages/routing/src/v2/views.ts
Due: eslint --fix, prettier --write

refactor(routing): replace view classes with plain functions + zod
  packages/routing/src/v2/views.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): update consumers to use view functions
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/tests/routes/api-state.test.ts
Due: eslint --fix, prettier --write

test(routing): update views tests for function-based API
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

docs: add PR review fixes design spec (#563)
  apps/auth/Dockerfile
  apps/auth/docker-entrypoint.sh
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/tests/routes/dashboard.test.ts
  apps/orchestrator/tests/v2/bus.test.ts
  apps/web-ui/frontend/src/components/ServiceCard.tsx
  apps/web-ui/frontend/src/hooks/useHealth.ts
  docker-compose/docker.compose.yaml
  docker-compose/observability.compose.yaml
  docker-compose/otel-collector-aspire.yaml
  docker-compose/otel-collector-config.yaml
  docker-compose/otel-collector-observability.yaml
  docker-compose/two-node.compose.yaml
  docs/superpowers/plans/2026-03-11-pr-review-fixes.md
  docs/superpowers/specs/2026-03-11-pr-review-fixes-design.md
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

feat(routing): add PeerView, InternalRouteView, RouteTableView classes
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/views.ts
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): replace inline credential stripping with view classes
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/rpc.ts
Due: eslint --fix, prettier --write

feat(routing): add immutable Map helper utilities (#564)
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/rpc.ts
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/map-helpers.ts
  packages/routing/src/v2/views.ts
  packages/routing/tests/v2/map-helpers.test.ts
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

fix(web-ui): log shutdown errors in e2e test server instead of swallowing
  apps/web-ui/dashboard.spec.ts
  apps/web-ui/test-server.ts
  dashboard-initial.png
Due: eslint --fix, prettier --write

test(web-ui): add Playwright E2E tests for dashboard
  apps/web-ui/package.json
  apps/web-ui/playwright.config.ts
  apps/web-ui/tests/e2e/dashboard.spec.ts
  apps/web-ui/tests/e2e/test-server.ts
  apps/web-ui/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web-ui): check res.ok before accessing response body in useRouterState
  apps/web-ui/frontend/src/hooks/useRouterState.ts
Due: eslint --fix, prettier --write

docs(adr): add AGPL containers licensing analysis (ADR-0016)
  docs/adr/0016-agpl-containers-licensing-analysis.md
Due: prettier --write

feat(orchestrator): add thin /api/state endpoint using RouteTableView
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/tests/routes/api-state.test.ts
Due: eslint --fix, prettier --write

chore(docker): add web-ui target to docker-bake.hcl
  docker-bake.hcl
Due: none

fix: address code review findings across stack
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/web-ui/frontend/src/hooks/useRouterState.ts
  apps/web-ui/src/routes/dashboard.ts
  apps/web-ui/src/server.ts
  apps/web-ui/tests/e2e/test-server.ts
  apps/web-ui/tests/routes/dashboard.test.ts
Due: eslint --fix, prettier --write

feat(web-ui): add dashboard routes with health checks, config, and state proxy
  apps/web-ui/src/routes/dashboard.ts
  apps/web-ui/src/server.ts
  apps/web-ui/src/service.ts
  apps/web-ui/tests/routes/dashboard.test.ts
  apps/web-ui/vitest.config.ts
Due: eslint --fix, prettier --write
