Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(dashboard): strip peerToken credentials from dashboard API responses
  apps/orchestrator/src/routes/dashboard.ts
Due: eslint --fix, prettier --write

feat(orchestrator): add WideEvent instrumentation to v2 bus and transport
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

chore: remove screenshot artifacts from repo
  dashboard-with-grafana-links.png
  grafana-auth-token-events.png
  grafana-catalyst-dashboard.png
  grafana-envoy-xds-events.png
  grafana-orchestrator-events.png
  grafana-two-node-events.png
  logging-test-dashboard.png
  web-ui-dashboard.png
  wide-events-grafana-detail.png
  wide-events-grafana-fields.png
  wide-events-grafana-fields2.png
  wide-events-structured-fields.png
Due: none

docs: comprehensive node logging design
  dashboard-with-grafana-links.png
  docker-compose/docker.compose.yaml
  docs/plans/2026-03-09-comprehensive-node-logging-design.md
  grafana-catalyst-dashboard.png
  logging-test-dashboard.png
  wide-events-grafana-detail.png
  wide-events-grafana-fields.png
  wide-events-grafana-fields2.png
  wide-events-structured-fields.png
Due: prettier --write

docs: add dashboard extraction implementation plan
  docs/plans/2026-03-09-dashboard-extraction.md
Due: prettier --write

docs: add dashboard extraction design doc
  docs/plans/2026-03-09-dashboard-extraction-design.md
  grafana-auth-token-events.png
  grafana-envoy-xds-events.png
  grafana-orchestrator-events.png
  grafana-two-node-events.png
Due: prettier --write

docs: comprehensive node logging implementation plan
  docs/plans/2026-03-09-comprehensive-node-logging.md
Due: prettier --write

chore: remove screenshot artifacts
  dashboard-with-grafana-links.png
  grafana-auth-token-events.png
  grafana-catalyst-dashboard.png
  grafana-envoy-xds-events.png
  grafana-orchestrator-events.png
  grafana-two-node-events.png
  logging-test-dashboard.png
  wide-events-grafana-detail.png
  wide-events-grafana-fields.png
  wide-events-grafana-fields2.png
  wide-events-structured-fields.png
Due: none

refactor(orchestrator): convert V2 template literals to structured logging
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
  apps/orchestrator/tests/v2-structured-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(gateway): add structured SDL validation and stitching logging
  apps/gateway/src/graphql/server.ts
  apps/gateway/tests/gateway-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(envoy): add structured xDS config diff and NACK tracking logging
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/xds/control-plane.ts
  apps/envoy/tests/envoy-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(web-ui): extend root tsconfig, forward query strings, restrict proxy to GET
  apps/web-ui/src/server.ts
  apps/web-ui/tsconfig.json
Due: eslint --fix, prettier --write

fix(orchestrator): align structured log property keys to dotted notation convention
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

fix(envoy): clean up clientNackCounts on stream close to prevent memory leak
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

feat(docker): add web-ui service to docker-compose configs
  apps/auth/Dockerfile
  apps/envoy/Dockerfile
  apps/gateway/Dockerfile
  apps/orchestrator/Dockerfile
  docker-compose/docker.compose.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

feat(orchestrator): add structured peering and reconnection logging
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/tests/v2-peering-logging.unit.test.ts
Due: eslint --fix, prettier --write

chore: update pnpm-lock.yaml for routing package dependencies
  pnpm-lock.yaml
Due: prettier --write

fix(orchestrator): add error context to peering catch blocks and log initial sync failures
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/reconnect.ts
Due: eslint --fix, prettier --write

feat(auth): add structured key rotation, token lifecycle, and policy evaluation logging
  packages/authorization/src/jwt/local/index.ts
  packages/authorization/src/key-manager/persistent.ts
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/tests/security-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(service): add structured lifecycle logging for startup and shutdown
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/catalyst-service.ts
  packages/service/tests/lifecycle-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(web-ui): add Dockerfile with Vite build and esbuild bundle
  apps/web-ui/Dockerfile
Due: none

refactor(orchestrator): remove dashboard frontend serving
  apps/orchestrator/Dockerfile
  apps/orchestrator/package.json
  apps/orchestrator/src/v1/service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(auth): remove duplicate flat-key properties from structured log calls
  packages/authorization/src/jwt/local/index.ts
  packages/authorization/src/key-manager/persistent.ts
  packages/authorization/src/service/rpc/server.ts
Due: eslint --fix, prettier --write

feat(web-ui): scaffold standalone web-ui app with proxy backend
  apps/web-ui/package.json
  apps/web-ui/src/server.ts
  apps/web-ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(orchestrator): mount dashboard API routes in v2 service
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/src/v1/service.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  web-ui-dashboard.png
Due: eslint --fix, prettier --write

fix(service): emit server.shutdown.completed before service telemetry teardown
  packages/service/src/catalyst-hono-server.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): use single-pass route change counting for readability
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

feat(web-ui): move frontend from orchestrator and update API paths
  apps/web-ui/frontend/index.html
  apps/web-ui/frontend/src/App.tsx
  apps/web-ui/frontend/src/components/AdaptersTab.tsx
  apps/web-ui/frontend/src/components/NodesTab.tsx
  apps/web-ui/frontend/src/components/ObservabilityLinks.tsx
  apps/web-ui/frontend/src/components/PeersSection.tsx
  apps/web-ui/frontend/src/components/ServiceCard.tsx
  apps/web-ui/frontend/src/components/Sidebar.tsx
  apps/web-ui/frontend/src/hooks/useConfig.ts
  apps/web-ui/frontend/src/hooks/useHealth.ts
  apps/web-ui/frontend/src/hooks/useRouterState.ts
  apps/web-ui/frontend/src/main.tsx
  apps/web-ui/frontend/src/styles.css
  apps/web-ui/frontend/tsconfig.json
  apps/web-ui/frontend/vite.config.ts
Due: eslint --fix, prettier --write

feat(orchestrator): add structured route exchange and convergence logging
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/tests/v2-route-logging.unit.test.ts
Due: eslint --fix, prettier --write

chore: remove screenshot artifact
  web-ui-dashboard.png
Due: none

docs: update crosswalk/milestones for v2, add routing README
  docs/reference/crosswalk.md
  docs/reference/milestones.md
  packages/routing/README.md
Due: prettier --write

fix(routing): add field-level bounds to WS payload schemas
  packages/routing/src/v2/datachannel.ts
  packages/routing/src/v2/internal/actions.ts
  packages/routing/tests/v2/schema.test.ts
Due: eslint --fix, prettier --write

docs(routing): update documentation for recent v2 fixes
  docs/reference/milestones.md
  packages/routing/src/v2/route-policy.ts
Due: eslint --fix, prettier --write

fix(routing): standardize timestamps to number and fix holdTime on reconnect
  apps/orchestrator/src/v2/catalyst-service.ts
  packages/routing/src/v2/rib/rib.ts
  packages/routing/src/v2/state.ts
  packages/routing/tests/v2/rib/rib.test.ts
Due: eslint --fix, prettier --write

docs: add Typst whitepapers for node architecture and data control
  docs/presentations/overview/data-control.typ
  docs/presentations/overview/node-architecture.typ
Due: none

chore(docs): fix internal links after docs restructure
  docs/adr/0014-package-manager-selection.md
  docs/architecture/envoy-integration.md
  docs/architecture/internal-peering.md
Due: prettier --write

fix(orchestrator): wire up TickManager.recalculate after peer connect
  apps/orchestrator/src/v2/service.ts
Due: eslint --fix, prettier --write

fix(orchestrator): add exponential backoff to mintNodeToken
  apps/orchestrator/src/v2/catalyst-service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
