Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: add v2 routing system test catalog (#495)
  TEST-CATALOG.md
Due: prettier --write

chore(docs): restructure documentation into docs/ hierarchy
  docs/architecture/bgp-protocol.md
  docs/architecture/cli.md
  docs/architecture/envoy-integration.md
  docs/architecture/internal-peering.md
  docs/architecture/jwt-service.md
  docs/architecture/peering-test-architecture.md
  docs/architecture/sdk.md
  docs/architecture/tech-stack.md
  docs/guides/builds/rpi.md
  docs/guides/demos/three-stack.md
  docs/guides/demos/zenoh-multi-hop.md
  docs/presentations/overview/catalyst-router-deck.pptx
  docs/reference/crosswalk.md
  docs/reference/milestones.md
  docs/reference/rfi.md
  docs/reference/test-catalog.md
Due: prettier --write

chore(docs): restructure documentation into docs/ hierarchy (#496)
  docs/architecture/bgp-protocol.md
  docs/architecture/cli.md
  docs/architecture/envoy-integration.md
  docs/architecture/internal-peering.md
  docs/architecture/jwt-service.md
  docs/architecture/peering-test-architecture.md
  docs/architecture/sdk.md
  docs/architecture/tech-stack.md
  docs/guides/builds/rpi.md
  docs/guides/demos/three-stack.md
  docs/guides/demos/zenoh-multi-hop.md
  docs/presentations/overview/catalyst-router-deck.pptx
  docs/reference/crosswalk.md
  docs/reference/milestones.md
  docs/reference/rfi.md
  docs/reference/test-catalog.md
Due: prettier --write

docs: update crosswalk/milestones for v2, add routing README
  docs/reference/crosswalk.md
  docs/reference/milestones.md
  packages/routing/README.md
Due: prettier --write

docs: update crosswalk/milestones for v2, add routing README (#497)
  docs/reference/crosswalk.md
  docs/reference/milestones.md
  packages/routing/README.md
Due: prettier --write

chore(docs): fix internal links after docs restructure
  docs/adr/0014-package-manager-selection.md
  docs/architecture/envoy-integration.md
  docs/architecture/internal-peering.md
Due: prettier --write

chore(docs): fix internal links after docs restructure (#498)
  docs/adr/0014-package-manager-selection.md
  docs/architecture/envoy-integration.md
  docs/architecture/internal-peering.md
Due: prettier --write

docs: add Typst whitepapers for node architecture and data control
  docs/presentations/overview/data-control.typ
  docs/presentations/overview/node-architecture.typ
Due: none

docs: add Typst whitepapers for node architecture and data control (#499)
  docs/presentations/overview/data-control.typ
  docs/presentations/overview/node-architecture.typ
Due: none

fix(routing): standardize timestamps to number and fix holdTime on reconnect
  apps/orchestrator/src/v2/catalyst-service.ts
  packages/routing/src/v2/rib/rib.ts
  packages/routing/src/v2/state.ts
  packages/routing/tests/v2/rib/rib.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): wire up TickManager.recalculate after peer connect
  apps/orchestrator/src/v2/service.ts
Due: eslint --fix, prettier --write

docs(routing): update documentation for recent v2 fixes
  docs/reference/milestones.md
  packages/routing/src/v2/route-policy.ts
Due: eslint --fix, prettier --write

fix(routing): add field-level bounds to WS payload schemas
  packages/routing/src/v2/datachannel.ts
  packages/routing/src/v2/internal/actions.ts
  packages/routing/tests/v2/schema.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): add exponential backoff to mintNodeToken
  apps/orchestrator/src/v2/catalyst-service.ts
Due: eslint --fix, prettier --write

test(orchestrator): add v2 integration tests
  INTEGRATION_TEST_SNIPPETS.md
  WEBSOCKET_INTEGRATION_TEST_GUIDE.md
  apps/orchestrator/tests/v2/bidirectional-keepalive.integration.test.ts
  apps/orchestrator/tests/v2/journal-sqlite-replay.integration.test.ts
  apps/orchestrator/tests/v2/reconnect-sync.integration.test.ts
  apps/orchestrator/tests/v2/route-policy.integration.test.ts
  apps/orchestrator/tests/v2/rpc-security.integration.test.ts
  apps/orchestrator/tests/v2/tick-recalculate.integration.test.ts
  docs/presentations/overview/data-control.pdf
  docs/presentations/overview/data-control.typ
Due: eslint --fix, prettier --write

test(orchestrator): add WebSocket integration tests for v2 peering
  apps/orchestrator/tests/v2/ws-peering.integration.test.ts
Due: eslint --fix, prettier --write

feat(orchestrator): port GraphQL gateway sync to v2 bus
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/gateway-client.ts
  apps/orchestrator/src/v2/index.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/tests/v2/graphql-gateway-sync.test.ts
Due: eslint --fix, prettier --write

feat(orchestrator): port Envoy config sync to v2 bus
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/envoy-client.ts
  apps/orchestrator/src/v2/index.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/tests/v2/envoy-config-sync.test.ts
  apps/orchestrator/v1-capabilities.md
  apps/orchestrator/v1-v2-gap-analysis.md
  apps/orchestrator/v2-capabilities.md
Due: eslint --fix, prettier --write

fix(orchestrator): auto-dial peer on LocalPeerCreate
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/tests/v2/auto-dial.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): send closePeer on LocalPeerDelete
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/tests/v2/peer-close-notify.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): add peerToken to ws-peering integration test
  apps/orchestrator/tests/v2/ws-peering.integration.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): require peerToken on LocalPeerCreate
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/tests/v2/auto-dial.test.ts
  apps/orchestrator/tests/v2/bidirectional-keepalive.integration.test.ts
  apps/orchestrator/tests/v2/bus.test.ts
  apps/orchestrator/tests/v2/envoy-config-sync.test.ts
  apps/orchestrator/tests/v2/graceful-restart.topology.test.ts
  apps/orchestrator/tests/v2/graphql-gateway-sync.test.ts
  apps/orchestrator/tests/v2/journal-sqlite-replay.integration.test.ts
  apps/orchestrator/tests/v2/keepalive.topology.test.ts
  apps/orchestrator/tests/v2/orchestrator.topology.test.ts
  apps/orchestrator/tests/v2/peer-close-notify.test.ts
  apps/orchestrator/tests/v2/peer-token-validation.test.ts
  apps/orchestrator/tests/v2/post-commit.test.ts
  apps/orchestrator/tests/v2/reconnect-sync.integration.test.ts
  apps/orchestrator/tests/v2/route-policy.integration.test.ts
  apps/orchestrator/tests/v2/rpc-security.integration.test.ts
  apps/orchestrator/tests/v2/rpc.test.ts
  apps/orchestrator/tests/v2/service.test.ts
  apps/orchestrator/tests/v2/tick-recalculate.integration.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): reject whitespace-only peerToken on LocalPeerCreate
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

fix(orchestrator): add allowNoAuth escape hatch for dev environments
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/tests/v2/auth-no-auth.test.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): move port allocation into plan phase
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/tests/v2/multihop-envoyaddress.test.ts
  apps/orchestrator/tests/v2/port-allocation-plan.test.ts
  packages/routing/src/v2/port-operation.ts
Due: eslint --fix, prettier --write

feat(orchestrator): add envoyAddress forwarding and multi-hop port rewriting
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/tests/v2/envoy-config-sync.test.ts
  apps/orchestrator/tests/v2/multihop-envoyaddress.test.ts
  packages/routing/src/v2/datachannel.ts
Due: eslint --fix, prettier --write

feat(routing): add canReceive to RoutePolicy for inbound route filtering
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/tests/v2/inbound-route-policy.test.ts
  apps/orchestrator/tests/v2/post-commit.test.ts
  apps/orchestrator/tests/v2/route-policy.integration.test.ts
  packages/routing/src/v2/route-policy.ts
Due: eslint --fix, prettier --write

feat(routing): add journal compaction with snapshot-based recovery
  apps/orchestrator/src/v2/compaction.ts
  apps/orchestrator/src/v2/index.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/tests/v2/journal-compaction.test.ts
  apps/orchestrator/tests/v2/journal-snapshot-recovery.test.ts
  packages/config/src/index.ts
  packages/routing/README.md
  packages/routing/src/v2/journal/action-log.ts
  packages/routing/src/v2/journal/in-memory-action-log.ts
  packages/routing/src/v2/journal/index.ts
  packages/routing/src/v2/journal/sqlite-action-log.ts
Due: eslint --fix, prettier --write

fix(orchestrator): add missing RPC result checks in HTTP transport
  apps/orchestrator/src/v2/http-transport.ts
Due: eslint --fix, prettier --write

fix(orchestrator): use peer token for BGP dial and fix demo bootstrap
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/envoy-client.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/src/v2/ws-transport.ts
  demo/zenoh-tak/docker-compose.yaml
  examples/zeno-tak-adapter-v2/Dockerfile
  examples/zeno-tak-adapter-v2/build.mjs
  examples/zeno-tak-adapter-v2/package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
