Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat(video): wire DataChannel RPC for route management and relay discovery
  apps/video/package.json
  apps/video/src/service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(video): E2E container tests verify auth and streaming across nodes
  apps/video/tests/e2e-auth.container.test.ts
  apps/video/tests/e2e-streaming.container.test.ts
Due: eslint --fix, prettier --write

test(video): add edge-case, security, and type validation coverage
  apps/video/tests/edge-cases.test.ts
  apps/video/tests/mediamtx/types.test.ts
  apps/video/tests/security.test.ts
Due: eslint --fix, prettier --write

feat(video): enforce Cedar access control and handle stream route lifecycle gaps
  apps/video/package.json
  apps/video/src/mediamtx/control-api-client.ts
  apps/video/src/routes/relay-manager.ts
  apps/video/src/routes/stream-route-manager.ts
  apps/video/src/service.ts
  apps/video/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(video): activate OTEL metrics, add DI seams, and prove cross-node streaming
  apps/video/src/hooks/auth.ts
  apps/video/src/mediamtx/config-generator.ts
  apps/video/src/routes/relay-manager.ts
  apps/video/src/routes/stream-route-manager.ts
  apps/video/src/service.ts
  apps/video/tests/config-generator.test.ts
  apps/video/tests/cross-node-streaming.topology.test.ts
  apps/video/tests/service-process-metrics.test.ts
  apps/video/tests/service-wiring.test.ts
  apps/video/vitest.config.ts
Due: eslint --fix, prettier --write

docs(bgp-material): added informational materrial for bgp
  docs/presentations/bgp-peering-overview/01-autonomous-system.svg
  docs/presentations/bgp-peering-overview/02-ibgp-internal-peering.svg
  docs/presentations/bgp-peering-overview/03-ebgp-external-peering.svg
  docs/presentations/bgp-peering-overview/04-architecture-mermaid.md
  docs/presentations/bgp-peering-overview/05-business-summary.md
Due: prettier --write

fix: remove CATALYST_CONTAINER_TESTS_ENABLED gate and fix all container tests
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  apps/auth/Dockerfile
  apps/auth/tests/container.test.ts
  apps/cli/src/clients/auth-client.ts
  apps/cli/src/commands/auth/token.ts
  apps/cli/tests/auth/token.container.test.ts
  apps/cli/tests/node/peer.container.test.ts
  apps/cli/tests/node/route.container.test.ts
  apps/gateway/tests/container.gateway.test.ts
  apps/gateway/tests/helpers/gateway-process.ts
  apps/gateway/tests/integration.graphql.test.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/tests/routes/api-state.test.ts
  apps/orchestrator/tests/routes/dashboard.test.ts
  apps/orchestrator/tests/v2/inbound-route-policy.test.ts
  apps/orchestrator/tests/v2/multihop-envoyaddress.test.ts
  apps/orchestrator/tests/v2/reconnect.test.ts
  apps/orchestrator/tests/v2/rpc-security.integration.test.ts
  apps/orchestrator/tests/v2/service.test.ts
  apps/orchestrator/tests/v2/ws-peering.integration.test.ts
  apps/web-ui/frontend/vite.config.ts
  docs/fix-gateway-integration-test.md
  docs/testing.md
  examples/books-api/tests/containers.test.ts
  packages/config/package.json
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

docs: rename stack overview to structured-logging-and-dashboard
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: add missing content to overview (Option A, catalogs, views, config, future work)
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: trim future work section to reference only
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: consolidate planning docs into single stack overview
  docs/plans/2026-03-09-comprehensive-node-logging-design.md
  docs/plans/2026-03-09-comprehensive-node-logging.md
  docs/plans/2026-03-09-dashboard-extraction-design.md
  docs/plans/2026-03-09-dashboard-extraction.md
  docs/plans/2026-03-09-stack-overview.md
  docs/plans/2026-03-09-structured-logging-wide-events-design.md
  docs/plans/2026-03-09-structured-logging-wide-events.md
  docs/superpowers/plans/2026-03-10-aspire-dashboard.md
  docs/superpowers/plans/2026-03-10-otel-attribute-naming.md
  docs/superpowers/plans/2026-03-11-pr-review-fixes.md
  docs/superpowers/specs/2026-03-10-aspire-dashboard-otel-verification-design.md
  docs/superpowers/specs/2026-03-10-otel-attribute-naming-design.md
  docs/superpowers/specs/2026-03-11-pr-review-fixes-design.md
Due: prettier --write

docs: remove future work section
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

feat(routing): add health fields to DataChannelDefinition with config and design doc
  .gitignore
  docs/plans/2026-03-16-per-adapter-health-status.md
  packages/config/src/index.ts
  packages/routing/src/v2/datachannel.ts
  packages/routing/src/v2/views.ts
Due: eslint --fix, prettier --write

fix: serialize integration tests and fix envoy proxy port binding timeout
  apps/envoy/tests/three-node-hop.container.test.ts
  package.json
Due: eslint --fix, prettier --write

feat(orchestrator): add AdapterHealthChecker class
  apps/orchestrator/src/v2/adapter-health.ts
Due: eslint --fix, prettier --write

test(orchestrator): AdapterHealthChecker unit tests
  apps/orchestrator/tests/v2/adapter-health.test.ts
Due: eslint --fix, prettier --write

feat(orchestrator): wire health checker with iBGP propagation action
  apps/orchestrator/src/v2/catalyst-service.ts
  packages/routing/src/v2/action-types.ts
  packages/routing/src/v2/local/actions.ts
  packages/routing/src/v2/rib/rib.ts
  packages/routing/src/v2/schema.ts
Due: eslint --fix, prettier --write

test: health propagation and RIB handler tests
  apps/orchestrator/tests/v2/adapter-health-propagation.test.ts
  packages/routing/tests/v2/rib-health-update.test.ts
Due: eslint --fix, prettier --write

feat(web-ui): adapter health table with status badges
  apps/web-ui/frontend/src/components/AdaptersTab.tsx
  apps/web-ui/frontend/src/hooks/useRouterState.ts
Due: eslint --fix, prettier --write

fix: restore code lost during restack conflict resolution
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
  apps/orchestrator/tests/v2/adapter-health-propagation.test.ts
  packages/routing/src/v2/datachannel.ts
Due: eslint --fix, prettier --write

refactor(routing): consolidate protocol limits into limits.ts
  packages/routing/src/v2/datachannel.ts
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/internal/actions.ts
  packages/routing/src/v2/limits.ts
Due: eslint --fix, prettier --write

feat(telemetry): add withWideEvent guaranteed-emission helper
  docs/plans/2026-03-18-wideevent-guaranteed-emission.md
  docs/specs/2026-03-18-wideevent-guaranteed-emission.md
  packages/telemetry/src/index.ts
  packages/telemetry/src/wide-event.ts
  packages/telemetry/tests/with-wide-event.unit.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): migrate bus.ts WideEvents to withWideEvent
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

fix(orchestrator): migrate rpc/transport WideEvents to withWideEvent
  apps/orchestrator/src/v2/http-transport.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

fix: address code review findings across stack
  apps/orchestrator/src/v2/adapter-health.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/http-transport.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/src/v2/ws-transport.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

fix: migrate remaining WideEvent sites to withWideEvent
  apps/envoy/src/rpc/server.ts
  apps/gateway/src/graphql/server.ts
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/compaction.ts
  apps/orchestrator/src/v2/service.ts
Due: eslint --fix, prettier --write

fix(orchestrator): move handleNotify outside withWideEvent to preserve async timing
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

fix(routing): add missing inner-key check in nestedMapDelete + regression tests
  packages/routing/src/v2/map-helpers.ts
  packages/routing/tests/v2/map-helpers.test.ts
Due: eslint --fix, prettier --write

feat(video): periodic session revalidation and DataChannel token swap
  apps/video/src/hooks/auth.ts
  apps/video/src/hooks/lifecycle.ts
  apps/video/src/mediamtx/config-generator.ts
  apps/video/src/mediamtx/control-api-client.ts
  apps/video/src/mediamtx/types.ts
  apps/video/src/metrics.ts
  apps/video/src/routes/relay-manager.ts
  apps/video/src/rpc/reconnecting-client.ts
  apps/video/src/rpc/token-refresh.ts
  apps/video/src/service.ts
  apps/video/src/session/session-registry.ts
  apps/video/src/session/token-revalidator.ts
  apps/video/tests/auth-hook.test.ts
  apps/video/tests/control-api-client.test.ts
  apps/video/tests/lifecycle-hooks.test.ts
  apps/video/tests/reconnecting-client.test.ts
  apps/video/tests/relay-manager.test.ts
  apps/video/tests/service-wiring.test.ts
  apps/video/tests/session-registry.unit.test.ts
  apps/video/tests/token-refresh.test.ts
  apps/video/tests/token-revalidator.unit.test.ts
Due: eslint --fix, prettier --write

docs: add v2 reframe vision document with redline markup
  catalyst-reframe.html
Due: none

docs: move reframe document to catalystV2 repo
  catalyst-reframe.html
Due: none

fix(routing): add no-op early-returns to mapWithout and nestedMapDeleteOuter
  packages/routing/src/v2/map-helpers.ts
  packages/routing/tests/v2/map-helpers.test.ts
Due: eslint --fix, prettier --write

refactor(routing): replace view classes with plain functions
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/tests/routes/api-state.test.ts
  packages/routing/src/v2/views.ts
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

fix(routing): use explicit allowlist in peerToPublic + add lastConnected default
  packages/routing/src/v2/views.ts
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): update consumers for Map-based RouteTable
  apps/orchestrator/src/v2/adapter-health.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/service.ts
  apps/orchestrator/tests/routes/api-state.test.ts
  apps/orchestrator/tests/v1/orchestrator.topology.test.ts
  apps/orchestrator/tests/v2/adapter-health-propagation.test.ts
  apps/orchestrator/tests/v2/adapter-health.test.ts
  apps/orchestrator/tests/v2/auto-dial.test.ts
  apps/orchestrator/tests/v2/bidirectional-keepalive.integration.test.ts
  apps/orchestrator/tests/v2/bus.test.ts
  apps/orchestrator/tests/v2/graceful-restart.topology.test.ts
  apps/orchestrator/tests/v2/inbound-route-policy.test.ts
  apps/orchestrator/tests/v2/journal-compaction.test.ts
  apps/orchestrator/tests/v2/journal-replay.test.ts
  apps/orchestrator/tests/v2/journal-snapshot-recovery.test.ts
  apps/orchestrator/tests/v2/journal-sqlite-replay.integration.test.ts
  apps/orchestrator/tests/v2/keepalive.topology.test.ts
  apps/orchestrator/tests/v2/orchestrator.topology.test.ts
  apps/orchestrator/tests/v2/peer-token-validation.test.ts
  apps/orchestrator/tests/v2/port-allocation-plan.test.ts
  apps/orchestrator/tests/v2/post-commit.test.ts
  apps/orchestrator/tests/v2/reconnect-sync.integration.test.ts
  apps/orchestrator/tests/v2/rpc.test.ts
  apps/orchestrator/tests/v2/service.test.ts
  apps/orchestrator/tests/v2/tick-recalculate.integration.test.ts
  apps/orchestrator/tests/v2/ws-peering.integration.test.ts
  apps/web-ui/frontend/src/components/AdaptersTab.tsx
  apps/web-ui/frontend/src/hooks/useRouterState.ts
Due: eslint --fix, prettier --write

refactor(routing): convert RouteTable from arrays to Maps
  packages/config/src/index.ts
  packages/routing/src/v2/datachannel.ts
  packages/routing/src/v2/local/actions.ts
  packages/routing/src/v2/rib/rib.ts
  packages/routing/src/v2/state.ts
  packages/routing/src/v2/views.ts
  packages/routing/tests/v2/rib-health-update.test.ts
  packages/routing/tests/v2/rib/rib.test.ts
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

test(web-ui): fix stale Playwright assertions for current AdaptersTab
  apps/web-ui/tests/e2e/dashboard.spec.ts
Due: eslint --fix, prettier --write
