Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

test(envoy): add 3-node multi-hop E2E tests for HTTP and TCP
  apps/envoy/tests/three-node-hop.container.test.ts
Due: eslint --fix, prettier --write

fix(envoy): replay snapshot on ADS connect and fix HCM upgrade_configs field number
  apps/envoy/src/xds/control-plane.ts
  apps/envoy/src/xds/proto-encoding.ts
  apps/envoy/src/xds/snapshot-cache.ts
  apps/envoy/tests/envoy-proxy.container.test.ts
  apps/envoy/tests/snapshot-cache.test.ts
Due: eslint --fix, prettier --write

fix(envoy): correct xDS ACK/NACK detection per SotW protocol spec
  apps/envoy/src/xds/control-plane.ts
  apps/envoy/src/xds/proto-encoding.ts
Due: eslint --fix, prettier --write

fix(envoy): replace overly broad IPv6 regex with net.isIP()
  apps/envoy/src/xds/resources.ts
Due: eslint --fix, prettier --write

fix(envoy): make ADS nonce counter per-stream instead of shared across connections
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

fix(envoy): add timeout to gRPC server shutdown to prevent indefinite hangs
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

fix(envoy): isolate watcher callback failures in snapshot cache
  apps/envoy/src/xds/snapshot-cache.ts
Due: eslint --fix, prettier --write

docs: convert documentation links to Obsidian wikilink style
  CONTRIBUTING.md
  LICENSE_HUMAN_READABLE.md
  README.md
  constitution.md
  docs/README.md
  docs/adr/0001-unified-opentelemetry-observability.md
  docs/adr/0002-logging-library-selection.md
  docs/adr/0003-observability-backends.md
  docs/adr/0004-sqlite-storage-backend.md
  docs/adr/0006-node-orchestrator-architecture.md
  docs/adr/0010-catalyst-service-base-class.md
  docs/adr/README.md
  docs/api/api-design.md
  docs/architecture/jwt-design.md
  docs/architecture/overview.md
  docs/protocols/internal-peering.md
Due: prettier --write

fix(envoy): use cluster lb_policy field instead of hardcoded ROUND_ROBIN
  apps/envoy/src/xds/proto-encoding.ts
Due: eslint --fix, prettier --write

fix(envoy): add deprecation warning for legacy envoyPort derivation path
  apps/envoy/src/rpc/server.ts
Due: eslint --fix, prettier --write

fix(envoy): support decimal seconds and millisecond connect_timeout values
  apps/envoy/src/xds/proto-encoding.ts
Due: eslint --fix, prettier --write

fix(envoy): warn when ADS gRPC server binds insecure on non-loopback
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

fix(envoy): warn about unauthenticated RPC endpoint on startup
  apps/envoy/src/service.ts
Due: eslint --fix, prettier --write

fix(envoy): guard against write-after-end race on ADS streams
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

fix(envoy): bind admin interface to 127.0.0.1 in bootstrap configs
  apps/envoy/envoy-bootstrap.yaml
  docker-compose/envoy-bootstrap.yaml
Due: prettier --write

fix(envoy): validate portAllocations values as valid TCP port numbers
  apps/envoy/src/rpc/server.ts
Due: eslint --fix, prettier --write

fix(envoy): pin Envoy Docker image to v1.32.13 for reproducible builds
  apps/envoy/Dockerfile.envoy-proxy
Due: none

fix(routing): constrain DataChannel name to DNS-label-safe characters
  packages/routing/src/datachannel.ts
Due: eslint --fix, prettier --write

fix(envoy): set codec_type HTTP2 on gRPC listeners
  apps/envoy/src/xds/proto-encoding.ts
  apps/envoy/src/xds/resources.ts
Due: eslint --fix, prettier --write

fix(envoy): remove unused resetProtoRoot export
  apps/envoy/src/xds/proto-encoding.ts
Due: eslint --fix, prettier --write

fix(envoy): document Set insertion-order port allocation behavior
  apps/envoy/src/port-allocator.ts
Due: eslint --fix, prettier --write

fix(envoy): pin Bun Docker image with SHA256 digest for reproducibility
  apps/envoy/Dockerfile
Due: none

docs: update BGP protocol docs with degraded state and state machine
  BGP_PROTOCOL.md
Due: prettier --write

feat(node): add JSON config file support and CLI improvements
  apps/node/README.md
  apps/node/catalyst-node.config.example.json
  apps/node/package.json
  apps/node/src/config-file.test.ts
  apps/node/src/config-file.ts
  apps/node/src/index.ts
  apps/node/src/server.test.ts
  apps/node/src/server.ts
  bun.lock
Due: eslint --fix, prettier --write

feat(node): add Dockerfile and two-node Docker Compose setups for peering UAT
  apps/node/Dockerfile
  docker-compose/README.md
  docker-compose/two-node-composite.compose.yaml
  docker-compose/two-node-individual.compose.yaml
  docs/docker-uat.md
Due: prettier --write

feat(node): implement composite node with all services in single binary
  apps/gateway/package.json
  apps/node/README.md
  apps/node/package.json
  apps/node/src/cli/client.ts
  apps/node/src/cli/index.ts
  apps/node/src/composite.integration.test.ts
  apps/node/src/config/index.ts
  apps/node/src/index.ts
  apps/node/src/plugin-api/interfaces.ts
  apps/node/src/plugins/index.ts
  apps/node/src/sample.test.ts
  apps/node/src/server.test.ts
  apps/node/src/server.ts
  apps/node/src/server/index.ts
  apps/node/src/server/loop.ts
  apps/node/src/server/queue.ts
  apps/node/src/server/rpc.ts
  apps/node/src/service.ts
  apps/node/src/types/bgp/messages.ts
  apps/node/src/types/bgp/routing.ts
  apps/node/src/types/peering/connection.ts
  apps/node/src/types/peering/deletion.ts
  apps/node/src/types/peering/heartbeat.ts
  apps/node/src/types/peering/route-update.ts
  apps/node/tsup.config.ts
  apps/node/vitest.config.ts
  bun.lock
Due: eslint --fix, prettier --write

fix(node): fix Dockerfile permissions for default database paths
  apps/node/Dockerfile
Due: none

test: update test fixtures and docker-compose to use new domain model
  apps/cli/tests/node/peer.container.test.ts
  apps/cli/tests/node/route.container.test.ts
  apps/orchestrator/tests/mock-connection-pool.ts
  apps/orchestrator/tests/orchestrator.container.test.ts
  apps/orchestrator/tests/orchestrator.envoy.test.ts
  apps/orchestrator/tests/orchestrator.gateway.container.test.ts
  apps/orchestrator/tests/orchestrator.gateway.test.ts
  apps/orchestrator/tests/orchestrator.topology.test.ts
  apps/orchestrator/tests/peering.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/peering.orchestrator.topology.test.ts
  apps/orchestrator/tests/transit.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/transit.orchestrator.topology.test.ts
  docker-compose/README.md
  docker-compose/docker.compose.yaml
  docker-compose/two-node.compose.yaml
  packages/config/README.md
Due: eslint --fix, prettier --write

test: add FQDN construction and validation tests
  apps/orchestrator/tests/orchestrator.gateway.test.ts
  packages/config/tests/envoy-config.test.ts
Due: eslint --fix, prettier --write

feat(config): add FQDN validation schemas and helper functions
  BGP_PROTOCOL.md
  ENVOY_INTEGRATION.md
  INTERNAL_PEERING.md
  apps/orchestrator/tests/PEERING_TEST_ARCHITECTURE.md
  docs/adr/0011-fqdn-domain-model.md
  docs/adr/README.md
  packages/config/README.md
  packages/config/src/index.ts
  packages/config/tests/envoy-config.test.ts
Due: eslint --fix, prettier --write

refactor(auth): migrate from trustedDomains array to orgDomain string
  apps/cli/src/clients/auth-client.ts
  apps/cli/src/commands/auth/token.ts
  apps/cli/src/handlers/auth-token-handlers.test.ts
  apps/cli/src/handlers/auth-token-handlers.ts
  apps/cli/src/types.ts
  apps/orchestrator/src/service.ts
  apps/orchestrator/tests/auth-test-helpers.ts
  packages/authorization/src/jwt/index.ts
  packages/authorization/src/policy/src/definitions/admin.cedar
  packages/authorization/src/policy/src/definitions/data-custodian.cedar
  packages/authorization/src/policy/src/definitions/node-custodian.cedar
  packages/authorization/src/policy/src/definitions/node.cedar
  packages/authorization/src/policy/src/definitions/schema.cedar
  packages/authorization/src/policy/src/definitions/user.cedar
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/src/service/service.ts
  packages/authorization/tests/service/rpc-progressive.test.ts
Due: eslint --fix, prettier --write

fix(envoy): add missing testcontainers dep and correct HCM upgrade_configs field number
  apps/envoy/package.json
  apps/envoy/src/xds/proto-encoding.ts
  apps/orchestrator/tests/peering.orchestrator.topology.container.test.ts
  bun.lock
Due: eslint --fix, prettier --write

feat(builds): add RPi image build system and config CLI
  apps/rpi-config/package.json
  apps/rpi-config/src/config-builder.ts
  apps/rpi-config/src/defaults.ts
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/instructions.ts
  apps/rpi-config/src/prompts.ts
  apps/rpi-config/src/types.ts
  apps/rpi-config/src/validator.ts
  apps/rpi-config/src/yaml-writer.ts
  apps/rpi-config/tsconfig.json
  builds/rpi/bin/.gitkeep
  builds/rpi/build.sh
  builds/rpi/config/base-docker.yaml
  builds/rpi/config/base-native.yaml
  builds/rpi/layer/catalyst-cloudflared.yaml
  builds/rpi/layer/catalyst-docker-stack.yaml
  builds/rpi/layer/catalyst-node.yaml
  builds/rpi/layer/catalyst-otel.yaml
  builds/rpi/layer/catalyst-wifi.yaml
  docs/builds/rpi.md
Due: eslint --fix, prettier --write

feat: rpi builds:
  apps/rpi-config/package.json
  apps/rpi-config/src/defaults.ts
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/instructions.ts
  apps/rpi-config/src/layers.ts
  apps/rpi-config/src/output-writer.ts
  apps/rpi-config/src/prompts.ts
  apps/rpi-config/src/types.ts
  apps/rpi-config/src/validator.ts
  builds/rpi/build.sh
  bun.lock
  package.json
Due: eslint --fix, prettier --write

chore: created docs
  apps/rpi-config/README.md
  apps/rpi-config/docs/architecture.md
  apps/rpi-config/examples/docker-basic.yaml
  apps/rpi-config/examples/docker-production.yaml
  apps/rpi-config/examples/minimal-native.yaml
  apps/rpi-config/examples/native-full.yaml
  apps/rpi-config/examples/native-wifi-ssh.yaml
Due: prettier --write

feat: added password check to make sure it complies with complexity
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/password.ts
  apps/rpi-config/src/prompts.ts
Due: eslint --fix, prettier --write

fix(build-docker): working version of rpi image building
  builds/rpi/Dockerfile.build
  builds/rpi/build-docker.sh
Due: none

chore: update docs and instructions
  apps/rpi-config/README.md
  apps/rpi-config/src/instructions.ts
Due: eslint --fix, prettier --write

feat(rpi-build-docker): build img files inside a bookworm docker container
  apps/rpi-config/src/instructions.ts
  apps/rpi-config/src/layers.ts
  builds/rpi/Dockerfile.build
  builds/rpi/build-docker.sh
  builds/rpi/build.sh
  builds/rpi/layer/catalyst-cloudflared.yaml
  builds/rpi/layer/catalyst-wifi.yaml
Due: eslint --fix, prettier --write

feat(rpi-autologin): added new autologin and journalctl log stream as default behaviour
  apps/rpi-config/src/config-builder.ts
  apps/rpi-config/src/index.ts
  apps/rpi-config/src/instructions.ts
  apps/rpi-config/src/layers.ts
  apps/rpi-config/src/prompts.ts
  apps/rpi-config/src/types.ts
  apps/rpi-config/src/yaml-writer.ts
  builds/rpi/layer/catalyst-console.yaml
Due: eslint --fix, prettier --write
