Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: update stale Bun references to Node.js/pnpm
  ENVOY_INTEGRATION.md
  docker-compose/three-node.compose.yaml
  docker-compose/zenoh-3node.compose.yaml
Due: prettier --write

chore: remove stale apps/auth/pnpm-lock.yaml
  apps/auth/pnpm-lock.yaml
Due: prettier --write

fix: resolve build failures across stack
  .husky/commit-msg
  .husky/pre-commit
  apps/node/src/types/bgp/routing.ts
  examples/zeno-tak-adapter-v2/Dockerfile
  examples/zeno-tak-adapter-v2/package.json
  packages/authorization/src/key-manager/index.ts
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/vitest-cedar-plugin.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(types): add shared cedar type declarations for bundler-mode tsconfigs
  apps/auth/tsconfig.json
  apps/cli/tsconfig.json
  apps/orchestrator/tsconfig.json
  types/cedar.d.ts
Due: eslint --fix, prettier --write

fix(cli): resolve pre-existing type errors
  apps/cli/src/clients/orchestrator-client.ts
  apps/cli/src/handlers/node-peer-handlers.ts
  apps/cli/src/handlers/node-route-handlers.ts
  apps/cli/tests/node/peer.container.test.ts
  apps/cli/tests/node/route.container.test.ts
Due: eslint --fix, prettier --write

feat: migrate Dockerfiles and CI from Bun to Node.js + pnpm
  .github/actions/setup-repo/action.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile.base
  README.md
  apps/auth/Dockerfile
  apps/auth/tsconfig.json
  apps/cli/tsconfig.json
  apps/envoy/Dockerfile
  apps/envoy/package.json
  apps/envoy/tsconfig.json
  apps/gateway/Dockerfile
  apps/gateway/tsconfig.json
  apps/orchestrator/Dockerfile
  apps/orchestrator/tsconfig.json
  apps/rpi-config/package.json
  docker-compose/DEMO.md
  docker-compose/Dockerfile.test
  examples/books-api/Dockerfile
  examples/books-api/tsconfig.json
  examples/movies-api/Dockerfile
  examples/movies-api/tsconfig.json
  examples/orders-api/Dockerfile
  examples/product-api/Dockerfile
  examples/zenoh-radar-publisher/tsconfig.json
  examples/zenoh-tak-adapter/tsconfig.json
  package.json
  packages/authorization/tsconfig.json
  packages/routing/tsconfig.json
  packages/telemetry/tsconfig.json
  packages/types/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

chore: clean up Bun references and standardize Node.js types
  apps/auth/tests/container.test.ts
  apps/envoy/package.json
  apps/envoy/tests/cross-node-routing.container.test.ts
  apps/envoy/tests/e2e.integration.test.ts
  apps/envoy/tests/envoy-proxy.container.test.ts
  apps/orchestrator/package.json
  examples/books-api/package.json
  examples/movies-api/package.json
  examples/orders-api/package.json
  examples/product-api/package.json
  packages/authorization/vitest-cedar-plugin.ts
  packages/routing/package.json
  packages/sdk/package.json
  packages/service/README.md
  packages/telemetry/package.json
  packages/telemetry/src/instrumentation.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: make CatalystHonoServer.start() async and fix integration tests
  apps/auth/package.json
  apps/cli/package.json
  apps/envoy/package.json
  apps/envoy/tests/rpc.integration.test.ts
  apps/gateway/package.json
  apps/gateway/tests/integration.rpc.test.ts
  apps/orchestrator/package.json
  examples/books-api/package.json
  examples/zeno-tak-adapter-v2/package.json
  packages/authorization/package.json
  packages/service/package.json
  packages/service/src/catalyst-hono-server.ts
  packages/service/tests/catalyst-hono-server.test.ts
  packages/telemetry/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add typecheck scripts, update READMEs, migrate rpi-config to esbuild
  apps/auth/package.json
  apps/cli/package.json
  apps/envoy/package.json
  apps/gateway/README.md
  apps/gateway/package.json
  apps/node/package.json
  apps/orchestrator/package.json
  apps/rpi-config/README.md
  apps/rpi-config/package.json
  packages/authorization/package.json
  packages/authorization/src/policy/README.md
  packages/routing/package.json
  packages/service/package.json
  packages/telemetry/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(docker): bundle workspace packages instead of externalizing all
  apps/auth/Dockerfile
  apps/auth/package.json
  apps/auth/src/server.ts
  apps/envoy/Dockerfile
  apps/gateway/Dockerfile
  apps/orchestrator/Dockerfile
  apps/orchestrator/package.json
  examples/books-api/Dockerfile
  examples/movies-api/Dockerfile
  examples/orders-api/Dockerfile
  examples/product-api/Dockerfile
  packages/authorization/src/policy/src/definitions/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(service): resolve typecheck errors in CatalystHonoServer
  packages/service/src/catalyst-hono-server.ts
Due: eslint --fix, prettier --write

fix: context-based WebSocket upgrade and example API server startup
  apps/envoy/src/rpc/server.ts
  apps/envoy/tests/e2e.integration.test.ts
  apps/envoy/tests/envoy-proxy.container.test.ts
  apps/envoy/tests/traffic-routing.container.test.ts
  apps/envoy/vitest.config.ts
  apps/gateway/src/rpc/server.ts
  apps/orchestrator/src/service.ts
  examples/books-api/package.json
  examples/books-api/src/index.ts
  examples/movies-api/package.json
  examples/movies-api/src/index.ts
  packages/authorization/src/service/rpc/server.ts
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(authorization): restore schema.cedarschema import and add esbuild loader
  apps/auth/Dockerfile
  apps/orchestrator/Dockerfile
  docker-compose/Dockerfile.test
  packages/authorization/src/policy/src/definitions/index.ts
  packages/authorization/vitest-cedar-plugin.ts
Due: eslint --fix, prettier --write

chore: migrate zenoh examples and init script from Bun to Node.js
  docker-compose/zenoh-3node-init.ts
  examples/zeno-tak-adapter-v2/Dockerfile
  examples/zeno-tak-adapter-v2/README.md
  examples/zeno-tak-adapter-v2/bun.lock
  examples/zeno-tak-adapter-v2/scripts/docker-entrypoint.sh
  examples/zenoh-radar-publisher/Dockerfile
  examples/zenoh-tak-adapter/Dockerfile
  examples/zenoh-tak-adapter/src/index.ts
Due: eslint --fix, prettier --write

fix: update stale bun references and enforce node.js 22.20.0+ minimum
  .github/actions/setup-repo/action.yml
  .nvmrc
  constitution.md
  package.json
Due: prettier --write

fix: apply prettier formatting to 5 files
  CLA.md
  apps/auth/src/index.ts
  demo/zenoh-tak/zenoh-router-config.json5
  docker-compose/zenoh-router-config.json5
  packages/service/src/catalyst-hono-server.ts
Due: eslint --fix, prettier --write

fix: add docker-bake.hcl with core group for CI
  apps/auth/package.json
  docker-bake.hcl
  pnpm-lock.yaml
Due: prettier --write

fix: resolve typecheck errors across cli, envoy, and orchestrator packages
  .github/workflows/pr-review.yml
  apps/cli/src/clients/orchestrator-client.ts
  apps/cli/src/commands/node/peer.ts
  apps/cli/src/handlers/node-route-handlers.ts
  apps/envoy/src/xds/resources.ts
  apps/envoy/tsconfig.json
  apps/orchestrator/src/orchestrator.ts
Due: eslint --fix, prettier --write

fix(cli): use PeerRecord for listPears and clean up route type union
  apps/cli/src/clients/orchestrator-client.ts
  apps/cli/src/commands/node/peer.ts
  apps/cli/src/commands/node/route.ts
  apps/cli/src/handlers/node-peer-handlers.ts
  apps/cli/src/handlers/node-route-handlers.ts
Due: eslint --fix, prettier --write

refactor(routing): rem extra peerName field which always equals peer.name
  apps/cli/src/commands/node/route.ts
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/xds/resources.ts
  apps/orchestrator/src/orchestrator.ts
  packages/routing/src/state.ts
Due: eslint --fix, prettier --write

chore: replace deprecated vitest workspace with projects config
  package.json
  turbo.json
  vitest.config.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write

fix(test): move authorization policy integration tests to tests/integration/
  packages/authorization/tests/integration/policy/agnostic-usage.test.ts
  packages/authorization/tests/integration/policy/e2e-comprehensive.test.ts
  packages/authorization/tests/integration/policy/namespace.test.ts
  packages/authorization/tests/integration/policy/repro_types.test.ts
  packages/authorization/tests/integration/policy/todo-app-authorization.test.ts
  packages/authorization/tests/integration/policy/typed-engine.test.ts
Due: eslint --fix, prettier --write

fix(test): resolve envoy and orchestrator type errors
  apps/envoy/tests/integration/rpc.integration.test.ts
  apps/envoy/tests/unit/resources.test.ts
  apps/orchestrator/tests/unit/orchestrator.envoy.test.ts
  apps/orchestrator/tests/unit/orchestrator.gateway-sync.test.ts
  apps/orchestrator/tests/unit/orchestrator.gateway.test.ts
  apps/orchestrator/tests/unit/orchestrator.topology.test.ts
  apps/orchestrator/tests/unit/peering.orchestrator.topology.test.ts
  apps/orchestrator/tests/unit/transit.orchestrator.topology.test.ts
Due: eslint --fix, prettier --write

test: shared Docker image builds via globalSetup
  apps/auth/package.json
  apps/auth/tests/container/container.test.ts
  apps/auth/tests/container/global-setup.ts
  apps/auth/tsconfig.json
  apps/auth/vitest.container.config.ts
  apps/cli/package.json
  apps/cli/tests/container/auth/token.container.test.ts
  apps/cli/tests/container/global-setup.ts
  apps/cli/tests/container/node/peer.container.test.ts
  apps/cli/tests/container/node/route.container.test.ts
  apps/cli/tsconfig.json
  apps/cli/vitest.container.config.ts
  apps/envoy/package.json
  apps/envoy/tests/container/cross-node-routing.container.test.ts
  apps/envoy/tests/container/envoy-proxy.container.test.ts
  apps/envoy/tests/container/envoy-service.container.test.ts
  apps/envoy/tests/container/global-setup.ts
  apps/envoy/tests/container/three-node-hop.container.test.ts
  apps/envoy/tsconfig.json
  apps/envoy/vitest.container.config.ts
  apps/gateway/package.json
  apps/gateway/tests/container/container.gateway.test.ts
  apps/gateway/tests/container/global-setup.ts
  apps/gateway/tsconfig.json
  apps/gateway/vitest.container.config.ts
  apps/orchestrator/package.json
  apps/orchestrator/tests/container/global-setup.ts
  apps/orchestrator/tests/container/orchestrator.container.test.ts
  apps/orchestrator/tests/container/orchestrator.gateway.container.test.ts
  apps/orchestrator/tests/container/peering.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/container/transit.orchestrator.topology.container.test.ts
  apps/orchestrator/tsconfig.json
  apps/orchestrator/vitest.container.config.ts
  examples/books-api/package.json
  examples/books-api/tests/container/containers.test.ts
  examples/books-api/tests/container/global-setup.ts
  examples/books-api/tsconfig.json
  examples/books-api/vitest.container.config.ts
  tests/build-images.ts
  tests/docker-images.ts
Due: eslint --fix, prettier --write

test: move container tests to tests/container/ with sequential execution
  apps/auth/package.json
  apps/auth/tests/container/container.test.ts
  apps/cli/package.json
  apps/cli/tests/container/auth/token.container.test.ts
  apps/cli/tests/container/node/peer.container.test.ts
  apps/cli/tests/container/node/route.container.test.ts
  apps/envoy/package.json
  apps/envoy/tests/container/cross-node-routing.container.test.ts
  apps/envoy/tests/container/envoy-proxy.container.test.ts
  apps/envoy/tests/container/envoy-service.container.test.ts
  apps/envoy/tests/container/three-node-hop.container.test.ts
  apps/envoy/tests/container/traffic-routing.container.test.ts
  apps/gateway/package.json
  apps/gateway/tests/container/container.gateway.test.ts
  apps/gateway/tests/integration/integration.graphql.test.ts
  apps/orchestrator/package.json
  apps/orchestrator/tests/container/orchestrator.container.test.ts
  apps/orchestrator/tests/container/orchestrator.gateway.container.test.ts
  apps/orchestrator/tests/container/peering.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/container/transit.orchestrator.topology.container.test.ts
  apps/orchestrator/tests/helpers/auth-test-helpers.ts
  apps/orchestrator/tests/unit/orchestrator.gateway-sync.test.ts
  examples/books-api/package.json
  examples/books-api/tests/container/containers.test.ts
Due: eslint --fix, prettier --write

fix: resolve zeno test failures and envoy typecheck crash
  apps/envoy/tests/unit/resources.test.ts
  apps/envoy/tsconfig.json
  examples/zeno-tak-adapter-v2/vitest.config.ts
Due: eslint --fix, prettier --write

test: restructure app tests into unit/integration subdirs
  apps/auth/package.json
  apps/auth/tests/unit/system-token.test.ts
  apps/cli/package.json
  apps/cli/tests/unit/clients/orchestrator-client.unit.test.ts
  apps/cli/tests/unit/clients/resolve-url.unit.test.ts
  apps/cli/tests/unit/handlers/auth-token-handlers.test.ts
  apps/cli/tests/unit/handlers/node-peer-handlers.test.ts
  apps/cli/tests/unit/handlers/node-route-handlers.test.ts
  apps/envoy/package.json
  apps/envoy/tests/integration/ads.integration.test.ts
  apps/envoy/tests/integration/e2e.integration.test.ts
  apps/envoy/tests/integration/rpc.integration.test.ts
  apps/envoy/tests/unit/port-allocator.test.ts
  apps/envoy/tests/unit/proto-encoding.test.ts
  apps/envoy/tests/unit/resources.test.ts
  apps/envoy/tests/unit/service.test.ts
  apps/envoy/tests/unit/snapshot-cache.test.ts
  apps/gateway/package.json
  apps/gateway/tests/integration/integration.graphql.test.ts
  apps/gateway/tests/integration/integration.rpc.test.ts
  apps/gateway/tests/unit/telemetry.unit.test.ts
  apps/orchestrator/package.json
  apps/orchestrator/tests/helpers/mock-connection-pool.ts
  apps/orchestrator/tests/unit/orchestrator.envoy.test.ts
  apps/orchestrator/tests/unit/orchestrator.gateway.test.ts
  apps/orchestrator/tests/unit/orchestrator.topology.test.ts
  apps/orchestrator/tests/unit/peering.orchestrator.topology.test.ts
  apps/orchestrator/tests/unit/transit.orchestrator.topology.test.ts
Due: eslint --fix, prettier --write

fix(test): skip image builds when Docker is not running
  tests/build-images.ts
Due: eslint --fix, prettier --write

fix: fix docker compose error for 3-node test demo
  docker-compose/Dockerfile.test
Due: none

docs(prd): consolidate PRD artifacts into docs/prd
  docs/prd/0001-poc-graphql-parity.md
  docs/prd/TEMPLATE.md
  prd/01/progress.md
Due: prettier --write

docs: add PRD for video streaming poc
  docs/prd/0002-poc-video-parity.md
Due: prettier --write

fix(cli): align peer container test with addPeer types
  apps/cli/tests/node/peer.container.test.ts
Due: eslint --fix, prettier --write

feat(ideas): add live topology constellation Three.js demo
  eslint.config.mjs
  ideas/live-topology-constellation/README.md
  ideas/live-topology-constellation/index.html
  ideas/live-topology-constellation/vendor/three/addons/controls/OrbitControls.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
