Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(orchestrator): re-throw unexpected errors in v1 dispatch
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

fix(orchestrator): preserve route-create payload in dispatch WideEvent
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

fix(orchestrator): return error instead of re-throwing in v1 dispatch, restore handleNotify comment
  apps/orchestrator/src/v1/orchestrator.ts
Due: eslint --fix, prettier --write

fix(config): only include orchestrator config when envoy env vars are set
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

fix(config): wrap JSON.parse in try/catch with descriptive error messages
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

refactor(config): move dashboard links to config file
  apps/web-ui/src/server.ts
  docker-compose/dashboard-links.json
  docker-compose/docker.compose.yaml
  docker-compose/two-node.compose.yaml
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

docs: trim future work section to reference only
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: consolidate planning docs into single stack overview
  docs/plans/2026-03-09-comprehensive-node-logging-design.md
  docs/plans/2026-03-09-comprehensive-node-logging.md
  docs/plans/2026-03-09-dashboard-extraction-design.md
  docs/plans/2026-03-09-dashboard-extraction.md
  docs/plans/2026-03-09-stack-overview.md
  docs/plans/2026-03-09-structured-logging-wide-events-design.md
  docs/plans/2026-03-09-structured-logging-wide-events.md
  docs/superpowers/plans/2026-03-10-aspire-dashboard.md
  docs/superpowers/plans/2026-03-10-otel-attribute-naming.md
  docs/superpowers/plans/2026-03-11-pr-review-fixes.md
  docs/superpowers/specs/2026-03-10-aspire-dashboard-otel-verification-design.md
  docs/superpowers/specs/2026-03-10-otel-attribute-naming-design.md
  docs/superpowers/specs/2026-03-11-pr-review-fixes-design.md
Due: prettier --write

docs: add missing content to overview (Option A, catalogs, views, config, future work)
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: rename stack overview to structured-logging-and-dashboard
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: remove future work section
  docs/plans/2026-03-09-structured-logging-and-dashboard.md
Due: prettier --write

docs: remove remaining superpowers planning docs
  docs/superpowers/plans/2026-03-12-wide-events-logging-cleanup-plan.md
  docs/superpowers/specs/2026-03-12-wide-events-logging-cleanup-design.md
Due: prettier --write

feat(routing): add PeerView, InternalRouteView, RouteTableView classes
  packages/routing/src/v2/index.ts
  packages/routing/src/v2/views.ts
  packages/routing/tests/v2/views.test.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): replace inline credential stripping with view classes
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/rpc.ts
Due: eslint --fix, prettier --write

chore(docker): add web-ui target to docker-bake.hcl
  docker-bake.hcl
Due: none

feat(web-ui): add dashboard routes with health checks, config, and state proxy
  apps/web-ui/src/routes/dashboard.ts
  apps/web-ui/src/server.ts
  apps/web-ui/src/service.ts
  apps/web-ui/tests/routes/dashboard.test.ts
  apps/web-ui/vitest.config.ts
Due: eslint --fix, prettier --write

refactor(web-ui): extract timeout magic numbers into named constants
  apps/web-ui/src/routes/dashboard.ts
Due: eslint --fix, prettier --write

chore(docker): wire web-ui service discovery env vars, move dashboard links from orchestrator
  docker-compose/docker.compose.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

feat(orchestrator): add thin /api/state endpoint using RouteTableView
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/tests/routes/api-state.test.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): remove dashboard routes (moved to web-ui)
  apps/orchestrator/src/v2/catalyst-service.ts
Due: eslint --fix, prettier --write

test(web-ui): add Playwright E2E tests for dashboard
  apps/web-ui/package.json
  apps/web-ui/playwright.config.ts
  apps/web-ui/tests/e2e/dashboard.spec.ts
  apps/web-ui/tests/e2e/test-server.ts
  apps/web-ui/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web-ui): remove accidentally committed duplicate files
  apps/web-ui/dashboard.spec.ts
  apps/web-ui/test-server.ts
  dashboard-initial.png
Due: eslint --fix, prettier --write

refactor(telemetry): expose WideEvent.durationMs, remove duplicate stopwatch in gateway
  apps/gateway/src/graphql/server.ts
  packages/telemetry/src/wide-event.ts
Due: eslint --fix, prettier --write

fix: add error state to web-ui hooks, delete source-scanning tests, fix shutdown log
  apps/envoy/tests/envoy-logging.unit.test.ts
  apps/gateway/tests/gateway-logging.unit.test.ts
  apps/orchestrator/tests/v2-peering-logging.unit.test.ts
  apps/orchestrator/tests/v2-route-logging.unit.test.ts
  apps/orchestrator/tests/v2-structured-logging.unit.test.ts
  apps/web-ui/frontend/src/components/ServiceCard.tsx
  apps/web-ui/frontend/src/hooks/useConfig.ts
  apps/web-ui/frontend/src/hooks/useHealth.ts
  apps/web-ui/frontend/src/hooks/useRouterState.ts
  packages/authorization/tests/security-logging.unit.test.ts
  packages/service/src/catalyst-hono-server.ts
  packages/service/tests/lifecycle-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix: address code review findings across stack
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/web-ui/frontend/src/hooks/useRouterState.ts
  apps/web-ui/src/routes/dashboard.ts
  apps/web-ui/src/server.ts
  apps/web-ui/tests/e2e/test-server.ts
  apps/web-ui/tests/routes/dashboard.test.ts
Due: eslint --fix, prettier --write

fix(web-ui): log shutdown errors in e2e test server instead of swallowing
  apps/web-ui/dashboard.spec.ts
  apps/web-ui/test-server.ts
  dashboard-initial.png
Due: eslint --fix, prettier --write

fix(web-ui): check res.ok before accessing response body in useRouterState
  apps/web-ui/frontend/src/hooks/useRouterState.ts
Due: eslint --fix, prettier --write

docs(adr): add AGPL containers licensing analysis (ADR-0016)
  docs/adr/0016-agpl-containers-licensing-analysis.md
Due: prettier --write

docs: add Wide Events / Logging Cleanup implementation plan
  docs/superpowers/plans/2026-03-12-wide-events-logging-cleanup-plan.md
Due: prettier --write

docs: add Wide Events / Logging Cleanup design spec
  docs/superpowers/specs/2026-03-12-wide-events-logging-cleanup-design.md
Due: prettier --write

feat(telemetry): add event.log for correlated intermediate logging
  packages/telemetry/src/wide-event.ts
  packages/telemetry/tests/wide-event.unit.test.ts
Due: eslint --fix, prettier --write

fix(gateway): snapshot durationMs to avoid non-deterministic getter reads
  apps/gateway/src/graphql/server.ts
Due: eslint --fix, prettier --write

refactor(gateway): WideEvent Option A cleanup
  apps/gateway/src/graphql/server.ts
Due: eslint --fix, prettier --write

fix(envoy): add event.log.warn for legacy port derivation
  apps/envoy/src/rpc/server.ts
Due: eslint --fix, prettier --write

fix(gateway): add event.log for SDL validation success
  apps/gateway/src/graphql/server.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): WideEvent cleanup for ws-transport openPeer
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

fix(gateway): add zero_services flag to WideEvent for empty reload
  apps/gateway/src/graphql/server.ts
Due: eslint --fix, prettier --write

refactor(envoy): WideEvent Option A cleanup
  apps/envoy/src/rpc/server.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
