Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add @catalyst/types package with generic result types
  CLAUDE.md
  packages/authorization/src/key-manager/index.ts
Due: eslint --fix, prettier --write

feat: basic policies for our roles
  packages/auth/src/policies/policies.cedar
  packages/auth/src/policies/schema.cedar
  packages/auth/src/policies/types.ts
  packages/authorization/src/policy/src/index.ts
Due: eslint --fix, prettier --write

feat: moving orchestrator to use config
  packages/auth/src/policies/types.ts
Due: eslint --fix, prettier --write

chore: continuing on authentication jwt work
  packages/authorization/src/index.ts
  packages/authorization/src/key-manager/index.ts
Due: eslint --fix, prettier --write

chore: orbi skills to help with dev
  .claude/skills/orbi.md
Due: prettier --write

feat: add /orbi slash command skill for explicit orchestrator invocation
  .claude/skills/orbi.md
Due: prettier --write

refactor: remove instanceof checks from TokenManager
  packages/authorization/src/jwt/index.ts
Due: eslint --fix, prettier --write

feat: migrate orchestrator to token-based authentication
  bun.lock
Due: none

feat(auth/policy): auth-engine typesystem improvements and support of cedar namespances
  bun.lock
  packages/auth/src/policies/mappers/index.ts
  packages/auth/src/policies/mappers/user-mapper.ts
  packages/auth/src/policies/types.ts
  packages/authorization/src/index.ts
  packages/authorization/src/jwt/index.ts
  packages/authorization/src/policy/src/index.ts
Due: eslint --fix, prettier --write

test(orchestrator): update container tests to use auth service
  packages/auth/Dockerfile
  packages/auth/src/rpc/server.ts
  packages/auth/src/server.ts
  packages/authorization/src/policy/src/authorization-engine.ts
  packages/authorization/src/policy/src/definitions/admin.cedar
  packages/authorization/src/policy/src/definitions/schema.cedar
  packages/config/src/index.ts
  packages/orchestrator/Dockerfile
  packages/orchestrator/package.json
  packages/orchestrator/src/orchestrator.ts
  packages/orchestrator/tests/auth-test-helpers.ts
  packages/orchestrator/tests/orchestrator.gateway.container.test.ts
  packages/orchestrator/tests/orchestrator.gateway.test.ts
  packages/orchestrator/tests/orchestrator.test.ts
  packages/orchestrator/tests/orchestrator.topology.test.ts
  packages/orchestrator/tests/peering.orchestrator.topology.container.test.ts
  packages/orchestrator/tests/peering.orchestrator.topology.test.ts
  packages/orchestrator/tests/transit.orchestrator.topology.container.test.ts
  packages/orchestrator/tests/transit.orchestrator.topology.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): correct token refresh calculation to trigger at 80% TTL
  packages/orchestrator/src/server.ts
Due: eslint --fix, prettier --write

feat(cli): add client infrastructure for orchestrator and auth services
  packages/cli/package.json
  packages/cli/src/clients/auth-client.ts
  packages/cli/src/clients/index.ts
  packages/cli/src/clients/orchestrator-client.ts
  packages/cli/tests/clients/auth-client.unit.test.ts
  packages/cli/tests/clients/orchestrator-client.unit.test.ts
Due: eslint --fix, prettier --write

feat(cli): implement node peer commands (create/list/delete)
  packages/cli/src/commands/node/index.ts
  packages/cli/src/commands/node/peer.ts
  packages/cli/src/types.ts
  packages/cli/tests/node/peer.container.test.ts
  packages/cli/tests/node/peer.unit.test.ts
Due: eslint --fix, prettier --write

feat(cli): implement node route commands (create/list/delete)
  packages/cli/src/commands/node/index.ts
  packages/cli/src/commands/node/route.ts
  packages/cli/src/types.ts
  packages/cli/tests/node/route.container.test.ts
  packages/cli/tests/node/route.unit.test.ts
Due: eslint --fix, prettier --write

feat(cli): implement auth token commands (mint/verify/revoke/list)
  packages/cli/src/commands/auth/index.ts
  packages/cli/src/commands/auth/token.ts
  packages/cli/src/types.ts
  packages/cli/tests/auth/token.container.test.ts
  packages/cli/tests/auth/token.unit.test.ts
Due: eslint --fix, prettier --write

feat(cli): complete restructure with entry point update and cleanup
  packages/cli/src/client.ts
  packages/cli/src/commands/metrics.ts
  packages/cli/src/commands/peer.ts
  packages/cli/src/commands/service.ts
  packages/cli/src/index.ts
  packages/cli/tests/metrics.unit.test.ts
  packages/cli/tests/service.integration.test.ts
  packages/cli/tests/service.unit.test.ts
Due: eslint --fix, prettier --write

chore: remove claude agent files from repo
  .claude/README.md
  .claude/agents/adr-compliance.md
  .claude/agents/cross-package-impact.md
  .claude/agents/doc-sync.md
  .claude/agents/documentation.md
  .claude/agents/orchestrator.md
  .claude/agents/pre-work.md
  .claude/agents/stack-scope.md
  .claude/agents/verification.md
  .claude/agents/workflows/architecture.md
  .claude/agents/workflows/cleanup.md
  .claude/agents/workflows/documentation.md
  .claude/agents/workflows/exploration.md
  .claude/agents/workflows/migration.md
  .claude/agents/workflows/new-feature.md
  .claude/agents/workflows/pr-fix.md
  .claude/settings.json
  .claude/skills/orbi/SKILL.md
  CLAUDE.md
  CLAUDE_AGENTS.md
Due: prettier --write

feat(docker-compose): add full single-node two node and otel collector configs w updated readme
  docker-compose/README.md
  docker-compose/docker.compose.yaml
  docker-compose/otel-collector-config.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

chore: cleanup db files
  auth.db
Due: none

Update README.md
  docker-compose/README.md
Due: prettier --write

refactor(cli): extract node peer handlers for testability
  packages/cli/src/commands/node/peer.ts
  packages/cli/src/handlers/node-peer-handlers.test.ts
  packages/cli/src/handlers/node-peer-handlers.ts
Due: eslint --fix, prettier --write

refactor(cli): extract auth token handlers for testability
  packages/cli/src/commands/auth/token.ts
  packages/cli/src/handlers/auth-token-handlers.test.ts
  packages/cli/src/handlers/auth-token-handlers.ts
Due: eslint --fix, prettier --write

feat(auth/rcp): initial integration into the AuthenticationService
  packages/auth/src/policies/mappers/index.ts
  packages/auth/src/policies/mappers/user-mapper.ts
  packages/auth/src/policies/policies.cedar
  packages/auth/src/policies/schema.cedar
  packages/auth/src/policies/types.ts
Due: eslint --fix, prettier --write

refactor(cli): extract node route handlers for testability
  packages/cli/src/commands/node/route.ts
  packages/cli/src/handlers/node-route-handlers.test.ts
  packages/cli/src/handlers/node-route-handlers.ts
Due: eslint --fix, prettier --write

feat: wokring on making token minting more strict
  packages/auth/src/rpc/schema.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
