Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(ci): pin GitHub Actions to SHA and upgrade to Node.js 24-compatible versions
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier --write

feat(config): add dashboard config schema and API routes (#506)
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/src/v1/orchestrator.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

feat(dashboard): add frontend hooks, components, and entry point
  apps/orchestrator/frontend/src/components/ObservabilityLinks.tsx
  apps/orchestrator/frontend/src/components/ServiceCard.tsx
  apps/orchestrator/frontend/src/hooks/useConfig.ts
  apps/orchestrator/frontend/src/hooks/useHealth.ts
  apps/orchestrator/frontend/src/hooks/useRouterState.ts
  apps/orchestrator/frontend/src/main.tsx
Due: eslint --fix, prettier --write

feat(dashboard): add frontend hooks, components, and entry point (#507)
  apps/orchestrator/frontend/src/components/ObservabilityLinks.tsx
  apps/orchestrator/frontend/src/components/ServiceCard.tsx
  apps/orchestrator/frontend/src/hooks/useConfig.ts
  apps/orchestrator/frontend/src/hooks/useHealth.ts
  apps/orchestrator/frontend/src/hooks/useRouterState.ts
  apps/orchestrator/frontend/src/main.tsx
Due: eslint --fix, prettier --write

feat(dashboard): add App shell, Sidebar, and styles
  apps/orchestrator/frontend/src/App.tsx
  apps/orchestrator/frontend/src/components/Sidebar.tsx
  apps/orchestrator/frontend/src/styles.css
Due: eslint --fix, prettier --write

fix: rename Nodes tab to Services
  apps/orchestrator/frontend/src/App.tsx
Due: eslint --fix, prettier --write

feat(dashboard): add App shell, Sidebar, and styles (#508)
  apps/orchestrator/frontend/src/App.tsx
  apps/orchestrator/frontend/src/components/Sidebar.tsx
  apps/orchestrator/frontend/src/styles.css
Due: eslint --fix, prettier --write

feat(dashboard): add NodesTab, PeersSection, and AdaptersTab
  apps/orchestrator/frontend/src/components/AdaptersTab.tsx
  apps/orchestrator/frontend/src/components/NodesTab.tsx
  apps/orchestrator/frontend/src/components/PeersSection.tsx
Due: eslint --fix, prettier --write

feat(dashboard): add NodesTab, PeersSection, and AdaptersTab (#509)
  apps/orchestrator/frontend/src/components/AdaptersTab.tsx
  apps/orchestrator/frontend/src/components/NodesTab.tsx
  apps/orchestrator/frontend/src/components/PeersSection.tsx
Due: eslint --fix, prettier --write

feat(dashboard): add build pipeline and mount in orchestrator
  apps/orchestrator/Dockerfile
  apps/orchestrator/frontend/index.html
  apps/orchestrator/frontend/tsconfig.json
  apps/orchestrator/frontend/vite.config.ts
  apps/orchestrator/package.json
  apps/orchestrator/src/v1/service.ts
  docker-bake.hcl
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(dashboard): add build pipeline and mount in orchestrator (#510)
  apps/orchestrator/Dockerfile
  apps/orchestrator/frontend/index.html
  apps/orchestrator/frontend/tsconfig.json
  apps/orchestrator/frontend/vite.config.ts
  apps/orchestrator/package.json
  apps/orchestrator/src/v1/service.ts
  docker-bake.hcl
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: remove auth endpoint (needs bootstrap flow), rename domain to dev.catalyst.local
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: add CATALYST_SYSTEM_TOKEN to orchestrator nodes in docker-compose
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: revert domain rename - validation is hardcoded in orchestrator, remove auth endpoint
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: rename domain to dev.catalyst.local, remove auth endpoint
  docker-compose/two-node.compose.yaml
Due: prettier --write

feat(dashboard): add docker-compose and observability configs
  docker-compose/grafana/provisioning/dashboards/dashboards.yaml
  docker-compose/grafana/provisioning/dashboards/json/catalyst-services.json
  docker-compose/grafana/provisioning/datasources/datasources.yaml
  docker-compose/loki-config.yaml
  docker-compose/otel-collector-config.yaml
  docker-compose/prometheus.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix(docker): fix compose healthchecks, missing env vars, and auth volume
  apps/auth/Dockerfile
  docker-compose/docker.compose.yaml
Due: prettier --write

feat(dashboard): add docker-compose and observability configs (#511)
  apps/auth/Dockerfile
  docker-compose/docker.compose.yaml
  docker-compose/grafana/provisioning/dashboards/dashboards.yaml
  docker-compose/grafana/provisioning/dashboards/json/catalyst-services.json
  docker-compose/grafana/provisioning/datasources/datasources.yaml
  docker-compose/loki-config.yaml
  docker-compose/otel-collector-config.yaml
  docker-compose/prometheus.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

feat(telemetry): add WideEvent builder class for canonical structured logging
  packages/telemetry/src/index.ts
  packages/telemetry/src/wide-event.ts
  packages/telemetry/tests/wide-event.unit.test.ts
Due: eslint --fix, prettier --write

fix(telemetry): align WideEvent with OTel semantic conventions
  packages/telemetry/src/wide-event.ts
  packages/telemetry/tests/wide-event.unit.test.ts
Due: eslint --fix, prettier --write

feat(telemetry): add WideEvent builder class for canonical structured logging (#520)
  packages/telemetry/src/index.ts
  packages/telemetry/src/wide-event.ts
  packages/telemetry/tests/wide-event.unit.test.ts
Due: eslint --fix, prettier --write

feat(telemetry): add wide event Hono middleware
  packages/telemetry/src/middleware/hono.ts
  packages/telemetry/src/middleware/wide-event.ts
  packages/telemetry/tests/wide-event-middleware.unit.test.ts
Due: eslint --fix, prettier --write

chore(telemetry): bump @opentelemetry/semantic-conventions to ^1.40.0
  packages/telemetry/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(telemetry): use stable OTel HTTP attribute names in wide event middleware
  packages/telemetry/src/middleware/wide-event.ts
  packages/telemetry/tests/wide-event-middleware.unit.test.ts
Due: eslint --fix, prettier --write

feat(telemetry): add wide event Hono middleware (#521)
  packages/telemetry/package.json
  packages/telemetry/src/middleware/hono.ts
  packages/telemetry/src/middleware/wide-event.ts
  packages/telemetry/tests/wide-event-middleware.unit.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: add structured logging and wide events design and implementation plan
  docs/plans/2026-03-09-structured-logging-wide-events-design.md
  docs/plans/2026-03-09-structured-logging-wide-events.md
Due: prettier --write

docs: add structured logging and wide events design and implementation plan (#522)
  docs/plans/2026-03-09-structured-logging-wide-events-design.md
  docs/plans/2026-03-09-structured-logging-wide-events.md
Due: prettier --write

feat(orchestrator): migrate logging to structured wide events
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v1/service.ts
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/catalyst-service.ts
Due: eslint --fix, prettier --write

feat(orchestrator): migrate logging to structured wide events (#523)
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v1/service.ts
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/catalyst-service.ts
Due: eslint --fix, prettier --write

feat: migrate service logging to structured format
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/service.ts
  apps/envoy/src/xds/control-plane.ts
  apps/gateway/src/graphql/server.ts
  apps/gateway/src/rpc/server.ts
  apps/node/src/cli/client.ts
  apps/node/src/server/index.ts
  apps/node/src/server/rpc.ts
  apps/node/src/service.ts
  packages/authorization/src/policy/src/authorization-engine.ts
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/src/service/service.ts
Due: eslint --fix, prettier --write

feat: migrate service logging to structured format (#524)
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/service.ts
  apps/envoy/src/xds/control-plane.ts
  apps/gateway/src/graphql/server.ts
  apps/gateway/src/rpc/server.ts
  apps/node/src/cli/client.ts
  apps/node/src/server/index.ts
  apps/node/src/server/rpc.ts
  apps/node/src/service.ts
  packages/authorization/src/policy/src/authorization-engine.ts
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/src/service/service.ts
Due: eslint --fix, prettier --write

docs: comprehensive node logging implementation plan
  docs/plans/2026-03-09-comprehensive-node-logging.md
Due: prettier --write

docs: add dashboard extraction implementation plan
  docs/plans/2026-03-09-dashboard-extraction.md
Due: prettier --write

docs: add dashboard extraction design doc
  docs/plans/2026-03-09-dashboard-extraction-design.md
  grafana-auth-token-events.png
  grafana-envoy-xds-events.png
  grafana-orchestrator-events.png
  grafana-two-node-events.png
Due: prettier --write

docs: comprehensive node logging design
  dashboard-with-grafana-links.png
  docker-compose/docker.compose.yaml
  docs/plans/2026-03-09-comprehensive-node-logging-design.md
  grafana-catalyst-dashboard.png
  logging-test-dashboard.png
  wide-events-grafana-detail.png
  wide-events-grafana-fields.png
  wide-events-grafana-fields2.png
  wide-events-structured-fields.png
Due: prettier --write

chore: remove screenshot artifacts
  dashboard-with-grafana-links.png
  grafana-auth-token-events.png
  grafana-catalyst-dashboard.png
  grafana-envoy-xds-events.png
  grafana-orchestrator-events.png
  grafana-two-node-events.png
  logging-test-dashboard.png
  wide-events-grafana-detail.png
  wide-events-grafana-fields.png
  wide-events-grafana-fields2.png
  wide-events-structured-fields.png
Due: none

feat(service): add structured lifecycle logging for startup and shutdown
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/catalyst-service.ts
  packages/service/tests/lifecycle-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(service): emit server.shutdown.completed before service telemetry teardown
  packages/service/src/catalyst-hono-server.ts
Due: eslint --fix, prettier --write

fix(orchestrator): align structured log property keys to dotted notation convention
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): convert V2 template literals to structured logging
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
  apps/orchestrator/tests/v2-structured-logging.unit.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,mjs}
  prettier --write: (any of: *.{ts,tsx,js,mjs}) or (any of: *.{json,md,yaml,yml})
