Repository orbisoperations/catalyst-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat(dashboard): add App shell, Sidebar, and styles
  apps/orchestrator/frontend/src/App.tsx
  apps/orchestrator/frontend/src/components/Sidebar.tsx
  apps/orchestrator/frontend/src/styles.css
Due: eslint --fix, prettier --write

feat(config): add dashboard config schema and API routes
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/src/v1/orchestrator.ts
  packages/config/src/index.ts
Due: eslint --fix, prettier --write

feat(dashboard): add docker-compose and observability configs
  docker-compose/grafana/provisioning/dashboards/dashboards.yaml
  docker-compose/grafana/provisioning/dashboards/json/catalyst-services.json
  docker-compose/grafana/provisioning/datasources/datasources.yaml
  docker-compose/loki-config.yaml
  docker-compose/otel-collector-config.yaml
  docker-compose/prometheus.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

feat(dashboard): add build pipeline and mount in orchestrator
  apps/orchestrator/Dockerfile
  apps/orchestrator/frontend/index.html
  apps/orchestrator/frontend/tsconfig.json
  apps/orchestrator/frontend/vite.config.ts
  apps/orchestrator/package.json
  apps/orchestrator/src/v1/service.ts
  docker-bake.hcl
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: revert domain rename - validation is hardcoded in orchestrator, remove auth endpoint
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: remove auth endpoint (needs bootstrap flow), rename domain to dev.catalyst.local
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: rename domain to dev.catalyst.local, remove auth endpoint
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix: add CATALYST_SYSTEM_TOKEN to orchestrator nodes in docker-compose
  docker-compose/two-node.compose.yaml
Due: prettier --write

feat(orchestrator): migrate logging to structured wide events
  apps/orchestrator/src/v1/orchestrator.ts
  apps/orchestrator/src/v1/service.ts
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/catalyst-service.ts
Due: eslint --fix, prettier --write

feat(telemetry): add wide event Hono middleware
  packages/telemetry/src/middleware/hono.ts
  packages/telemetry/src/middleware/wide-event.ts
  packages/telemetry/tests/wide-event-middleware.unit.test.ts
Due: eslint --fix, prettier --write

feat: migrate service logging to structured format
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/service.ts
  apps/envoy/src/xds/control-plane.ts
  apps/gateway/src/graphql/server.ts
  apps/gateway/src/rpc/server.ts
  apps/node/src/cli/client.ts
  apps/node/src/server/index.ts
  apps/node/src/server/rpc.ts
  apps/node/src/service.ts
  packages/authorization/src/policy/src/authorization-engine.ts
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/src/service/service.ts
Due: eslint --fix, prettier --write

fix(docker): fix compose healthchecks, missing env vars, and auth volume
  apps/auth/Dockerfile
  docker-compose/docker.compose.yaml
Due: prettier --write

docs: add structured logging and wide events design and implementation plan
  docs/plans/2026-03-09-structured-logging-wide-events-design.md
  docs/plans/2026-03-09-structured-logging-wide-events.md
Due: prettier --write

feat(telemetry): add WideEvent builder class for canonical structured logging
  packages/telemetry/src/index.ts
  packages/telemetry/src/wide-event.ts
  packages/telemetry/tests/wide-event.unit.test.ts
Due: eslint --fix, prettier --write

docs: comprehensive node logging design
  dashboard-with-grafana-links.png
  docker-compose/docker.compose.yaml
  docs/plans/2026-03-09-comprehensive-node-logging-design.md
  grafana-catalyst-dashboard.png
  logging-test-dashboard.png
  wide-events-grafana-detail.png
  wide-events-grafana-fields.png
  wide-events-grafana-fields2.png
  wide-events-structured-fields.png
Due: prettier --write

docs: comprehensive node logging implementation plan
  docs/plans/2026-03-09-comprehensive-node-logging.md
Due: prettier --write

refactor(orchestrator): convert V2 template literals to structured logging
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
  apps/orchestrator/tests/v2-structured-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): align structured log property keys to dotted notation convention
  apps/orchestrator/src/v2/catalyst-service.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/src/v2/rpc.ts
  apps/orchestrator/src/v2/ws-transport.ts
Due: eslint --fix, prettier --write

feat(service): add structured lifecycle logging for startup and shutdown
  packages/service/src/catalyst-hono-server.ts
  packages/service/src/catalyst-service.ts
  packages/service/tests/lifecycle-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(service): emit server.shutdown.completed before service telemetry teardown
  packages/service/src/catalyst-hono-server.ts
Due: eslint --fix, prettier --write

feat(orchestrator): add structured peering and reconnection logging
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/reconnect.ts
  apps/orchestrator/tests/v2-peering-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(orchestrator): add error context to peering catch blocks and log initial sync failures
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/src/v2/reconnect.ts
Due: eslint --fix, prettier --write

feat(orchestrator): add structured route exchange and convergence logging
  apps/orchestrator/src/v2/bus.ts
  apps/orchestrator/tests/v2-route-logging.unit.test.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): use single-pass route change counting for readability
  apps/orchestrator/src/v2/bus.ts
Due: eslint --fix, prettier --write

feat(gateway): add structured SDL validation and stitching logging
  apps/gateway/src/graphql/server.ts
  apps/gateway/tests/gateway-logging.unit.test.ts
Due: eslint --fix, prettier --write

feat(envoy): add structured xDS config diff and NACK tracking logging
  apps/envoy/src/rpc/server.ts
  apps/envoy/src/xds/control-plane.ts
  apps/envoy/tests/envoy-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(envoy): clean up clientNackCounts on stream close to prevent memory leak
  apps/envoy/src/xds/control-plane.ts
Due: eslint --fix, prettier --write

feat(auth): add structured key rotation, token lifecycle, and policy evaluation logging
  packages/authorization/src/jwt/local/index.ts
  packages/authorization/src/key-manager/persistent.ts
  packages/authorization/src/service/rpc/server.ts
  packages/authorization/tests/security-logging.unit.test.ts
Due: eslint --fix, prettier --write

fix(auth): remove duplicate flat-key properties from structured log calls
  packages/authorization/src/jwt/local/index.ts
  packages/authorization/src/key-manager/persistent.ts
  packages/authorization/src/service/rpc/server.ts
Due: eslint --fix, prettier --write

chore: update pnpm-lock.yaml for routing package dependencies
  pnpm-lock.yaml
Due: prettier --write

docs: add dashboard extraction design doc
  docs/plans/2026-03-09-dashboard-extraction-design.md
  grafana-auth-token-events.png
  grafana-envoy-xds-events.png
  grafana-orchestrator-events.png
  grafana-two-node-events.png
Due: prettier --write

docs: add dashboard extraction implementation plan
  docs/plans/2026-03-09-dashboard-extraction.md
Due: prettier --write

feat(web-ui): scaffold standalone web-ui app with proxy backend
  apps/web-ui/package.json
  apps/web-ui/src/server.ts
  apps/web-ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web-ui): extend root tsconfig, forward query strings, restrict proxy to GET
  apps/web-ui/src/server.ts
  apps/web-ui/tsconfig.json
Due: eslint --fix, prettier --write

feat(web-ui): move frontend from orchestrator and update API paths
  apps/web-ui/frontend/index.html
  apps/web-ui/frontend/src/App.tsx
  apps/web-ui/frontend/src/components/AdaptersTab.tsx
  apps/web-ui/frontend/src/components/NodesTab.tsx
  apps/web-ui/frontend/src/components/ObservabilityLinks.tsx
  apps/web-ui/frontend/src/components/PeersSection.tsx
  apps/web-ui/frontend/src/components/ServiceCard.tsx
  apps/web-ui/frontend/src/components/Sidebar.tsx
  apps/web-ui/frontend/src/hooks/useConfig.ts
  apps/web-ui/frontend/src/hooks/useHealth.ts
  apps/web-ui/frontend/src/hooks/useRouterState.ts
  apps/web-ui/frontend/src/main.tsx
  apps/web-ui/frontend/src/styles.css
  apps/web-ui/frontend/tsconfig.json
  apps/web-ui/frontend/vite.config.ts
Due: eslint --fix, prettier --write

refactor(orchestrator): remove dashboard frontend serving
  apps/orchestrator/Dockerfile
  apps/orchestrator/package.json
  apps/orchestrator/src/v1/service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(web-ui): add Dockerfile with Vite build and esbuild bundle
  apps/web-ui/Dockerfile
Due: none

feat(cli): add video stream commands
  apps/cli/src/clients/index.ts
  apps/cli/src/clients/video-client.ts
  apps/cli/src/commands/video/health.ts
  apps/cli/src/commands/video/index.ts
  apps/cli/src/commands/video/relay.ts
  apps/cli/src/commands/video/stream.ts
  apps/cli/src/handlers/video-health-handlers.test.ts
  apps/cli/src/handlers/video-health-handlers.ts
  apps/cli/src/handlers/video-relay-handlers.test.ts
  apps/cli/src/handlers/video-relay-handlers.ts
  apps/cli/src/handlers/video-stream-handlers.test.ts
  apps/cli/src/handlers/video-stream-handlers.ts
  apps/cli/src/index.ts
  apps/cli/src/types.ts
Due: eslint --fix, prettier --write

feat(docker): add web-ui service to docker-compose configs
  apps/auth/Dockerfile
  apps/envoy/Dockerfile
  apps/gateway/Dockerfile
  apps/orchestrator/Dockerfile
  docker-compose/docker.compose.yaml
  docker-compose/two-node.compose.yaml
Due: prettier --write

fix(orchestrator): mount dashboard API routes in v2 service
  apps/orchestrator/src/routes/dashboard.ts
  apps/orchestrator/src/v1/service.ts
  apps/orchestrator/src/v2/catalyst-service.ts
  web-ui-dashboard.png
Due: eslint --fix, prettier --write
